In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [62]:
import pandas as pd

df1 = pd.read_csv('../data/rawdata.csv', dtype={'revd': str, 'buggy': str, 'fix': str})
df1.shape

(12374, 38)

In [63]:
df1.dtypes

Unnamed: 0       int64
X                int64
commit_id       object
author_date      int64
bugcount         int64
fixcount         int64
la               int64
ld               int64
nf               int64
nd               int64
ns               int64
ent            float64
revd            object
nrev           float64
rtime          float64
hcmt           float64
self            object
ndev             int64
age            float64
nuc              int64
app            float64
aexp             int64
rexp           float64
oexp           float64
arexp            int64
rrexp          float64
orexp          float64
asexp            int64
rsexp          float64
osexp          float64
asawr          float64
rsawr          float64
osawr          float64
churn            int64
buggy           object
fix             object
bugdens        float64
strata           int64
dtype: object

In [88]:
df1[(df1['buggy'] == 'TRUE') & (df1['nf'] > 20)]

,Unnamed: 0,X,commit_id,author_date,bugcount,fixcount,la,ld,nf,nd,...,rsexp,osexp,asawr,rsawr,osawr,churn,buggy,fix,bugdens,strata
17,46,46,0070b452f1c00817dd4a47deb57bfbe6b79c4152,1361547297,8,0,1793,106,26,12,...,541.0,568.0,0.246996,0.723632,0.759680,1899,TRUE,FALSE,0.004213,4
70,166,166,01a938f7fe4dea274713e49f124fcc45702f80a0,1331023987,4,0,375,357,66,26,...,603.0,604.0,0.006278,0.541704,0.542601,732,TRUE,FALSE,0.005464,1
107,244,244,026d50f718a7ebd61669f885c0b9556066041540,1378217189,1,0,86,86,33,14,...,1527.0,1574.0,0.012513,0.258370,0.266317,172,TRUE,FALSE,0.005814,7
549,1205,1205,0c0d8f00a9d9b9bc69af70bd004c910df0df9951,1338724509,5,0,444,475,33,22,...,17.0,26.0,0.101351,0.121622,0.182432,919,TRUE,FALSE,0.005441,2
613,1333,1333,0d4e6dbe6f17d0a8d0f93833c1ea70f79944d945,1351027525,2,0,258,308,26,14,...,1762.0,1890.0,0.138321,0.643431,0.690146,566,TRUE,FALSE,0.003534,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12042,26076,26076,f87e7d964c19cc2be33226df66f0c823af993d49,1389898466,4,0,162,28,24,19,...,605.0,622.0,0.144068,0.855932,0.879944,190,TRUE,FALSE,0.021053,8
12062,26115,26115,f8de8c4450ab0d8483ccfcfcca48e21fea71c637,1361710506,12,0,1524,243,31,19,...,381.0,515.0,0.306005,0.441109,0.595843,1767,TRUE,FALSE,0.006791,4
12095,26202,26202,f9a868e86ce11f786538547c301b805bd68a1697,1334296488,6,0,3484,12,23,7,...,109.0,385.0,0.209455,0.080000,0.280727,3496,TRUE,FALSE,0.001716,1
12202,26444,26444,fbf0e621399027d5004bbc8c888d67a3c2851686,1389937243,2,1,63,47,21,14,...,204.0,231.0,0.074438,0.287921,0.325843,110,TRUE,TRUE,0.018182,8
12304,26696,26696,fe716c0ee499ed13f37231c651b8e018baede772,1342781621,1,0,219,354,68,20,...,30.0,30.0,0.020408,0.632653,0.632653,573,TRUE,FALSE,0.001745,2

In [72]:
df1[df1['buggy'] == 'TRUE']

,Unnamed: 0,X,commit_id,author_date,bugcount,fixcount,la,ld,nf,nd,...,rsexp,osexp,asawr,rsawr,osawr,churn,buggy,fix,bugdens,strata
4,15,15,001d36c97eac77410f7dd32290d2142abfb19fa0,1392721937,1,0,12,6,2,2,...,1361.0,2241.0,0.147545,0.184703,0.304041,18,TRUE,FALSE,0.055556,8
6,24,24,0043044f2e8ee3de8a9995bdbf51aad77f1a3fa9,1373357890,4,0,580,283,8,5,...,42.0,43.0,0.060000,0.860000,0.880000,863,TRUE,FALSE,0.004635,6
7,29,29,0057aed72c6e92fbc7bfe27eb9a30f191eed3fd4,1380799475,1,0,2,2,1,1,...,449.0,473.0,0.444785,0.460123,0.484663,4,TRUE,FALSE,0.250000,7
12,36,36,0061c0ce4443395a258a99c70e1c1a7d0435e84e,1340028045,1,0,462,1,4,3,...,45.0,46.0,0.132743,0.407080,0.415929,463,TRUE,FALSE,0.002160,2
14,43,43,006a4e5e31a12d049c3d6308c3a2d73f57cd980f,1374767629,1,0,15,3,2,2,...,250.0,283.0,0.041526,0.281706,0.318743,18,TRUE,FALSE,0.055556,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12349,26802,26802,ff7623f3c9e34a30ebff213fe19c775b1848eb2a,1383098720,1,0,757,6,17,6,...,395.0,395.0,0.005859,0.773438,0.773438,763,TRUE,FALSE,0.001311,7
12351,26804,26804,ff837025e955799e69eebcab665374436649d6f8,1344875498,1,0,360,52,10,7,...,22.0,94.0,0.371429,0.109524,0.452381,412,TRUE,FALSE,0.002427,2
12358,26814,26814,ffa04d3e83ad83a51b366f1a3579ed47328c1b43,1367506181,1,0,30,15,2,2,...,739.0,743.0,0.019210,0.789755,0.794023,45,TRUE,FALSE,0.022222,5
12359,26815,26815,ffa11a64706e898ba3ae45f84920d632b5947add,1380332296,1,0,11,6,3,2,...,135.0,194.0,0.250627,0.340852,0.488722,17,TRUE,FALSE,0.058824,7
12365,26836,26836,ffcf3431982a591041d642651f778b53e6db5735,1362091722,1,0,430,174,12,8,...,562.0,575.0,0.342291,0.796322,0.814710,604,TRUE,FALSE,0.001656,5

In [8]:
df1.head(20)

,Unnamed: 0,X,commit_id,author_date,bugcount,fixcount,la,ld,nf,nd,...,rsexp,osexp,asawr,rsawr,osawr,churn,buggy,fix,bugdens,strata
0,6,6,00057454f6609871c2cabf874876d26a6d0d0641,1358516662,0,0,2,2,2,2,...,259.0,259.0,0.003472,0.902778,0.902778,4,False,False,0.000000,4
1,9,9,0007d255d9b20da4e5bbcdbaf5813104fbc092da,1358353428,0,0,9,6,1,1,...,276.0,277.0,0.024735,0.978799,0.982332,15,False,False,0.000000,4
2,11,11,0014f2c828dae5f9481a2bac68fe90a7857b2f59,1377995125,0,0,7,8,2,1,...,257.0,275.0,0.200000,0.573333,0.613333,15,False,False,0.000000,7
3,14,14,001961ed495a33cc944407888a2797f8a600e091,1367268702,0,0,6,0,1,1,...,1922.0,2506.0,0.217116,0.435363,0.567580,6,False,False,0.000000,5
4,15,15,001d36c97eac77410f7dd32290d2142abfb19fa0,1392721937,1,0,12,6,2,2,...,1361.0,2241.0,0.147545,0.184703,0.304041,18,True,False,0.055556,8
5,23,23,0038e3818393415fc9628aef2747136a626682ee,1341252518,0,0,23,17,3,3,...,536.0,536.0,0.015677,0.300672,0.300672,40,False,False,0.000000,2
6,24,24,0043044f2e8ee3de8a9995bdbf51aad77f1a3fa9,1373357890,4,0,580,283,8,5,...,42.0,43.0,0.060000,0.860000,0.880000,863,True,False,0.004635,6
7,29,29,0057aed72c6e92fbc7bfe27eb9a30f191eed3fd4,1380799475,1,0,2,2,1,1,...,449.0,473.0,0.444785,0.460123,0.484663,4,True,False,0.250000,7
8,31,31,00592cfa0b90c66682be2bc31428277c35a35c48,1331588951,0,0,2,2,2,1,...,595.0,636.0,0.063436,0.525110,0.561233,4,False,False,0.000000,1
9,33,33,005b9950ac84bf3ae06c24ee018f192064060428,1367521170,0,0,3,2,1,1,...,836.0,847.0,0.003606,0.188641,0.191120,5,False,False,0.000000,5
10,34,34,005ef0796270cb6238dc9863b468b0f1d7026e7c,1358916201,0,0,39,5,3,2,...,1210.0,1214.0,0.001645,0.332054,0.333151,44,False,False,0.000000,4
11,35,35,005ff1100a11c83808471ece313d0f9001f4653c,1374603627,0,0,132,201,2,1,...,673.0,673.0,0.001330,0.896277,0.896277,333,False,False,0.000000,6
12,36,36,0061c0ce4443395a258a99c70e1c1a7d0435e84e,1340028045,1,0,462,1,4,3,...,45.0,46.0,0.132743,0.407080,0.415929,463,True,False,0.002160,2
13,37,37,006254c5050176c9b569007f6ef7203e6067215d,1344016566,0,0,15,3,1,1,...,346.0,346.0,0.707657,0.805104,0.805104,18,False,False,0.000000,2
14,43,43,006a4e5e31a12d049c3d6308c3a2d73f57cd980f,1374767629,1,0,15,3,2,2,...,250.0,283.0,0.041526,0.281706,0.318743,18,True,False,0.055556,6
15,44,44,006d673d24778abe6c47e3ee7e1a19e163912440,1367348740,0,0,15,12,1,1,...,477.0,477.0,0.919028,0.967611,0.967611,27,False,False,0.000000,5
16,45,45,006fea117307460544492a3548203a9ef31f34ba,1326777632,0,0,14,24,3,3,...,152.0,152.0,0.003650,0.279197,0.279197,38,False,False,0.000000,0
17,46,46,0070b452f1c00817dd4a47deb57bfbe6b79c4152,1361547297,8,0,1793,106,26,12,...,541.0,568.0,0.246996,0.723632,0.759680,1899,True,False,0.004213,4
18,48,48,00786bc554a2dfacb3c6f02fbb7e9c98f35d4262,1338278278,0,0,162,139,6,4,...,178.0,387.0,0.161211,0.110562,0.239654,301,False,False,0.000000,1
19,50,50,007a1856dd8b5a781a3abe312a023344995162d6,1347632012,0,0,12,6,1,1,...,827.0,827.0,0.000398,0.329487,0.329487,18,False,False,0.000000,3

In [ ]:
df.columns.tolist()

['Unnamed: 0',
 'X',
 'commit_id',
 'author_date',
 'bugcount',
 'fixcount',
 'la',
 'ld',
 'nf',
 'nd',
 'ns',
 'ent',
 'revd',
 'nrev',
 'rtime',
 'hcmt',
 'self',
 'ndev',
 'age',
 'nuc',
 'app',
 'aexp',
 'rexp',
 'oexp',
 'arexp',
 'rrexp',
 'orexp',
 'asexp',
 'rsexp',
 'osexp',
 'asawr',
 'rsawr',
 'osawr',
 'churn',
 'buggy',
 'fix',
 'bugdens',
 'strata']

In [53]:
df2 = pd.read_csv('../data/openstack.csv', dtype={'self':str, 'revd': str})
df2.shape

(26855, 32)

In [52]:
df2.dtypes

commit_id       object
author_date      int64
bugcount       float64
fixcount       float64
la               int64
ld               int64
nf               int64
nd               int64
ns               int64
ent            float64
revd              bool
nrev           float64
rtime          float64
tcmt           float64
hcmt           float64
self              bool
ndev           float64
age            float64
nuc            float64
app            float64
aexp           float64
rexp           float64
oexp           float64
arexp          float64
rrexp          float64
orexp          float64
asexp          float64
rsexp          float64
osexp          float64
asawr          float64
rsawr          float64
osawr          float64
dtype: object

In [107]:
df1[(df1['nf'] <= 4) & (df1['buggy'] == 'TRUE')]

,Unnamed: 0,X,commit_id,author_date,bugcount,fixcount,la,ld,nf,nd,...,rsexp,osexp,asawr,rsawr,osawr,churn,buggy,fix,bugdens,strata
4,15,15,001d36c97eac77410f7dd32290d2142abfb19fa0,1392721937,1,0,12,6,2,2,...,1361.0,2241.0,0.147545,0.184703,0.304041,18,TRUE,FALSE,0.055556,8
7,29,29,0057aed72c6e92fbc7bfe27eb9a30f191eed3fd4,1380799475,1,0,2,2,1,1,...,449.0,473.0,0.444785,0.460123,0.484663,4,TRUE,FALSE,0.250000,7
12,36,36,0061c0ce4443395a258a99c70e1c1a7d0435e84e,1340028045,1,0,462,1,4,3,...,45.0,46.0,0.132743,0.407080,0.415929,463,TRUE,FALSE,0.002160,2
14,43,43,006a4e5e31a12d049c3d6308c3a2d73f57cd980f,1374767629,1,0,15,3,2,2,...,250.0,283.0,0.041526,0.281706,0.318743,18,TRUE,FALSE,0.055556,6
40,103,103,010bd1f392e67a6fcd276593b8c79acfe41d1cc7,1378720692,1,0,111,16,2,2,...,273.0,273.0,0.026578,0.910299,0.910299,127,TRUE,FALSE,0.007874,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12340,26779,26779,ff4863cca3012b2060bff788456c1b98b03d46d5,1373876370,2,0,63,2,2,2,...,994.0,1044.0,0.015761,0.188948,0.198443,65,TRUE,FALSE,0.030769,6
12345,26792,26792,ff6e64992bf40fd2ac6618cbe50b8844e35b6538,1375266652,1,0,258,251,2,1,...,1587.0,1696.0,0.046247,0.291430,0.311433,509,TRUE,FALSE,0.001965,6
12348,26800,26800,ff75ad4dfb352a5362e53ce91125419998d861aa,1363951690,1,0,23,7,2,2,...,288.0,288.0,0.001332,0.384820,0.384820,30,TRUE,FALSE,0.033333,5
12358,26814,26814,ffa04d3e83ad83a51b366f1a3579ed47328c1b43,1367506181,1,0,30,15,2,2,...,739.0,743.0,0.019210,0.789755,0.794023,45,TRUE,FALSE,0.022222,5
12359,26815,26815,ffa11a64706e898ba3ae45f84920d632b5947add,1380332296,1,0,11,6,3,2,...,135.0,194.0,0.250627,0.340852,0.488722,17,TRUE,FALSE,0.058824,7

In [145]:
lowfile = df1[df1['nf'] <= 5]

In [146]:
lowfile[lowfile['buggy'] == 'TRUE']

,Unnamed: 0,X,commit_id,author_date,bugcount,fixcount,la,ld,nf,nd,...,rsexp,osexp,asawr,rsawr,osawr,churn,buggy,fix,bugdens,strata
4,15,15,001d36c97eac77410f7dd32290d2142abfb19fa0,1392721937,1,0,12,6,2,2,...,1361.0,2241.0,0.147545,0.184703,0.304041,18,TRUE,FALSE,0.055556,8
7,29,29,0057aed72c6e92fbc7bfe27eb9a30f191eed3fd4,1380799475,1,0,2,2,1,1,...,449.0,473.0,0.444785,0.460123,0.484663,4,TRUE,FALSE,0.250000,7
12,36,36,0061c0ce4443395a258a99c70e1c1a7d0435e84e,1340028045,1,0,462,1,4,3,...,45.0,46.0,0.132743,0.407080,0.415929,463,TRUE,FALSE,0.002160,2
14,43,43,006a4e5e31a12d049c3d6308c3a2d73f57cd980f,1374767629,1,0,15,3,2,2,...,250.0,283.0,0.041526,0.281706,0.318743,18,TRUE,FALSE,0.055556,6
33,84,84,00dd97c7e9a852f4abd6e8460a0d094c01d3d0ba,1347205765,1,0,103,56,5,4,...,209.0,222.0,0.128125,0.656250,0.696875,159,TRUE,FALSE,0.006289,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12340,26779,26779,ff4863cca3012b2060bff788456c1b98b03d46d5,1373876370,2,0,63,2,2,2,...,994.0,1044.0,0.015761,0.188948,0.198443,65,TRUE,FALSE,0.030769,6
12345,26792,26792,ff6e64992bf40fd2ac6618cbe50b8844e35b6538,1375266652,1,0,258,251,2,1,...,1587.0,1696.0,0.046247,0.291430,0.311433,509,TRUE,FALSE,0.001965,6
12348,26800,26800,ff75ad4dfb352a5362e53ce91125419998d861aa,1363951690,1,0,23,7,2,2,...,288.0,288.0,0.001332,0.384820,0.384820,30,TRUE,FALSE,0.033333,5
12358,26814,26814,ffa04d3e83ad83a51b366f1a3579ed47328c1b43,1367506181,1,0,30,15,2,2,...,739.0,743.0,0.019210,0.789755,0.794023,45,TRUE,FALSE,0.022222,5
12359,26815,26815,ffa11a64706e898ba3ae45f84920d632b5947add,1380332296,1,0,11,6,3,2,...,135.0,194.0,0.250627,0.340852,0.488722,17,TRUE,FALSE,0.058824,7

In [127]:
lowfile[lowfile['buggy'] == 'FALSE'].iloc[:5921]

,Unnamed: 0,X,commit_id,author_date,bugcount,fixcount,la,ld,nf,nd,...,rsexp,osexp,asawr,rsawr,osawr,churn,buggy,fix,bugdens,strata
0,6,6,00057454f6609871c2cabf874876d26a6d0d0641,1358516662,0,0,2,2,2,2,...,259.0,259.0,0.003472,0.902778,0.902778,4,FALSE,FALSE,0.0,4
1,9,9,0007d255d9b20da4e5bbcdbaf5813104fbc092da,1358353428,0,0,9,6,1,1,...,276.0,277.0,0.024735,0.978799,0.982332,15,FALSE,FALSE,0.0,4
2,11,11,0014f2c828dae5f9481a2bac68fe90a7857b2f59,1377995125,0,0,7,8,2,1,...,257.0,275.0,0.200000,0.573333,0.613333,15,FALSE,FALSE,0.0,7
3,14,14,001961ed495a33cc944407888a2797f8a600e091,1367268702,0,0,6,0,1,1,...,1922.0,2506.0,0.217116,0.435363,0.567580,6,FALSE,FALSE,0.0,5
5,23,23,0038e3818393415fc9628aef2747136a626682ee,1341252518,0,0,23,17,3,3,...,536.0,536.0,0.015677,0.300672,0.300672,40,FALSE,FALSE,0.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8312,17866,17866,a957beb94720ca3f171149155f9dcabd20e6141b,1378115348,0,1,15,2,2,2,...,1812.0,1904.0,0.026267,0.307236,0.322827,17,FALSE,TRUE,0.0,7
8313,17867,17867,a95a2149a5ba805451a6d961b792ccd5b9984bea,1365732301,0,0,23,1,1,1,...,443.0,443.0,0.917722,0.936709,0.936709,24,FALSE,FALSE,0.0,5
8314,17868,17868,a95ec3d893b3c3ced4489a40ca4d8144ae65e310,1346654757,0,0,11,0,3,2,...,371.0,371.0,0.004032,0.750000,0.750000,11,FALSE,FALSE,0.0,3
8315,17870,17870,a9661fba21d7e5dd3fb5d29f77266993e3adc460,1388787887,0,0,3,50,2,1,...,1182.0,1207.0,0.141095,0.912105,0.931380,53,FALSE,FALSE,0.0,8
8316,17871,17871,a9694595a629baba10549e82a1bb73e972cef7d9,1330666858,0,0,3,1,1,1,...,1.0,2.0,0.222222,0.222222,0.333333,4,FALSE,FALSE,0.0,1

In [147]:
bal_lowfile = pd.concat([lowfile[lowfile['buggy'] == 'TRUE'], lowfile[lowfile['buggy'] == 'FALSE'].iloc[:5921]])
bal_lowfile

,Unnamed: 0,X,commit_id,author_date,bugcount,fixcount,la,ld,nf,nd,...,rsexp,osexp,asawr,rsawr,osawr,churn,buggy,fix,bugdens,strata
4,15,15,001d36c97eac77410f7dd32290d2142abfb19fa0,1392721937,1,0,12,6,2,2,...,1361.0,2241.0,0.147545,0.184703,0.304041,18,TRUE,FALSE,0.055556,8
7,29,29,0057aed72c6e92fbc7bfe27eb9a30f191eed3fd4,1380799475,1,0,2,2,1,1,...,449.0,473.0,0.444785,0.460123,0.484663,4,TRUE,FALSE,0.250000,7
12,36,36,0061c0ce4443395a258a99c70e1c1a7d0435e84e,1340028045,1,0,462,1,4,3,...,45.0,46.0,0.132743,0.407080,0.415929,463,TRUE,FALSE,0.002160,2
14,43,43,006a4e5e31a12d049c3d6308c3a2d73f57cd980f,1374767629,1,0,15,3,2,2,...,250.0,283.0,0.041526,0.281706,0.318743,18,TRUE,FALSE,0.055556,6
33,84,84,00dd97c7e9a852f4abd6e8460a0d094c01d3d0ba,1347205765,1,0,103,56,5,4,...,209.0,222.0,0.128125,0.656250,0.696875,159,TRUE,FALSE,0.006289,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8312,17866,17866,a957beb94720ca3f171149155f9dcabd20e6141b,1378115348,0,1,15,2,2,2,...,1812.0,1904.0,0.026267,0.307236,0.322827,17,FALSE,TRUE,0.000000,7
8313,17867,17867,a95a2149a5ba805451a6d961b792ccd5b9984bea,1365732301,0,0,23,1,1,1,...,443.0,443.0,0.917722,0.936709,0.936709,24,FALSE,FALSE,0.000000,5
8314,17868,17868,a95ec3d893b3c3ced4489a40ca4d8144ae65e310,1346654757,0,0,11,0,3,2,...,371.0,371.0,0.004032,0.750000,0.750000,11,FALSE,FALSE,0.000000,3
8315,17870,17870,a9661fba21d7e5dd3fb5d29f77266993e3adc460,1388787887,0,0,3,50,2,1,...,1182.0,1207.0,0.141095,0.912105,0.931380,53,FALSE,FALSE,0.000000,8
8316,17871,17871,a9694595a629baba10549e82a1bb73e972cef7d9,1330666858,0,0,3,1,1,1,...,1.0,2.0,0.222222,0.222222,0.333333,4,FALSE,FALSE,0.000000,1

In [148]:
bal_lowfile = bal_lowfile.sample(frac=1)
bal_lowfile.head(20)

,Unnamed: 0,X,commit_id,author_date,bugcount,fixcount,la,ld,nf,nd,...,rsexp,osexp,asawr,rsawr,osawr,churn,buggy,fix,bugdens,strata
775,1638,1638,103ba151619a2e44b6eff39f99332edc3c4d1dad,1349119113,0,0,19,0,1,1,...,1296.0,1296.0,0.008355,0.492594,0.492594,19,FALSE,FALSE,0.000000,3
1093,2352,2352,1701b6bc2424cd8db843ffb4517bb1239de46198,1352739200,0,0,7,4,1,1,...,70.0,72.0,0.022727,0.268939,0.276515,11,FALSE,FALSE,0.000000,3
7883,16902,16902,a0546fd3f42c37e8cd6e4e9b70d59ae1e689b4b7,1376471127,1,0,133,12,2,2,...,819.0,819.0,0.050265,0.145133,0.145133,145,TRUE,FALSE,0.006897,6
2671,5618,5618,3586f829b099a163639f2f95d14f626bfd5d1ae7,1352198683,0,0,71,131,5,5,...,97.0,118.0,0.167286,0.364312,0.442379,202,FALSE,FALSE,0.000000,3
3065,6438,6438,3d9f0ed000ebe119cb7e15f957ee85b668086fea,1323203553,0,0,47,13,5,5,...,98.0,124.0,0.097179,0.310345,0.391850,60,FALSE,FALSE,0.000000,0
3827,8142,8142,4dceb53a242a82b49df2777eeb8396395ada6761,1353981580,0,0,29,4,2,2,...,453.0,453.0,0.723361,0.930328,0.930328,33,FALSE,FALSE,0.000000,3
6909,14770,14770,8bac8741cde9387c132fb9f09fef2fd5461d567e,1373916974,0,0,5,2,1,1,...,356.0,433.0,0.231312,0.503526,0.612130,7,FALSE,FALSE,0.000000,6
4200,8936,8936,558e685d71ccdd2ddbdaac86fa47bddb14ed3db1,1377640543,0,0,2,6,1,1,...,1741.0,2444.0,0.152334,0.297829,0.418020,8,FALSE,FALSE,0.000000,6
7364,15761,15761,950e700b4fe69f001b228d11c8014ebbdfa7b10b,1349777160,0,0,17,4,2,2,...,438.0,476.0,0.221825,0.785331,0.853309,21,FALSE,FALSE,0.000000,3
3589,7584,7584,4885aa28706a1858f4fc51a0d2c661eec05139c0,1369837260,0,0,23,10,3,3,...,1588.0,2097.0,0.351046,0.339095,0.447717,33,FALSE,FALSE,0.000000,5
4847,10285,10285,62278171b99664a19dfa55d9e0acbb2be38f692c,1363671004,0,0,1,1,1,1,...,176.0,176.0,0.475806,0.475806,0.475806,2,FALSE,FALSE,0.000000,5
7492,16036,16036,979c999464975f869b9ee05792e31c784aaf08f4,1329163211,0,0,1,0,1,1,...,244.0,282.0,0.067470,0.295181,0.340964,1,FALSE,FALSE,0.000000,0
6711,14355,14355,87b2548e8845fa9710a1b89a642d06fd28148572,1368805379,2,0,51,22,2,2,...,369.0,369.0,0.005092,0.376782,0.376782,73,TRUE,FALSE,0.027397,5
5020,10647,10647,6577ec0b00c9fbae5931a1ed036763588e010019,1376535980,0,0,40,2,2,2,...,713.0,715.0,0.015421,0.846975,0.849348,42,FALSE,FALSE,0.000000,6
8136,17462,17462,a590d086ff5e6fdb0fbe88dd27a9bbe619e4fa85,1340835359,0,0,1,1,1,1,...,724.0,843.0,0.122286,0.414286,0.482286,2,FALSE,FALSE,0.000000,2
1632,3452,3452,21acdc54937c8a79df316bf9f5e6ff5fdac316dc,1391964723,0,0,8,11,2,2,...,547.0,876.0,0.053359,0.074976,0.119989,19,FALSE,FALSE,0.000000,8
7493,16039,16039,97a47ae62a1f0c778fab824d3bf48636dd5c832f,1376273264,0,0,6,6,1,1,...,1919.0,1924.0,0.001963,0.342612,0.343505,12,FALSE,FALSE,0.000000,6
3496,7416,7416,46ece662345211fc9dd902c234e03dcbbe296979,1343926591,0,0,9,18,2,2,...,929.0,1049.0,0.125414,0.440133,0.496924,27,FALSE,FALSE,0.000000,2
5392,11448,11448,6cac288a87d0eba448394ac39981bf9f63238125,1327091222,0,0,86,13,4,3,...,117.0,117.0,0.049645,0.836879,0.836879,99,FALSE,FALSE,0.000000,0
6903,14759,14759,8b92df9febce5bc45fa57bb347779b9644a38c44,1345690808,0,0,3,3,3,1,...,78.0,78.0,0.091837,0.806122,0.806122,6,FALSE,FALSE,0.000000,2

In [154]:
train_df = bal_lowfile.iloc[:6000,:]
val_df = bal_lowfile.iloc[6000:6750, :]
test_df = bal_lowfile.iloc[6750:,:]

In [155]:
train_df[train_df['buggy'] == 'TRUE']

,Unnamed: 0,X,commit_id,author_date,bugcount,fixcount,la,ld,nf,nd,...,rsexp,osexp,asawr,rsawr,osawr,churn,buggy,fix,bugdens,strata
7883,16902,16902,a0546fd3f42c37e8cd6e4e9b70d59ae1e689b4b7,1376471127,1,0,133,12,2,2,...,819.0,819.0,0.050265,0.145133,0.145133,145,TRUE,FALSE,0.006897,6
6711,14355,14355,87b2548e8845fa9710a1b89a642d06fd28148572,1368805379,2,0,51,22,2,2,...,369.0,369.0,0.005092,0.376782,0.376782,73,TRUE,FALSE,0.027397,5
10617,22969,22969,da70f8804ec72d5e3f1f88e9559d26c8fb7d29fe,1392303273,2,0,571,147,4,3,...,955.0,956.0,0.014035,0.670877,0.671579,718,TRUE,FALSE,0.002786,8
5449,11577,11577,6dc290a88a3240b9f454d5140ab14d499d9ab1b2,1379626478,1,1,33,14,4,2,...,1445.0,2626.0,0.255795,0.237712,0.431859,47,TRUE,TRUE,0.021277,7
1529,3251,3251,1fbdc5a9466c13408307a30e53f619a5894f44d5,1378110986,1,0,61,0,1,1,...,1431.0,1444.0,0.018308,0.242753,0.244957,61,TRUE,FALSE,0.016393,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9525,20630,20630,c3e58bd943ccb4e1457914c3c2b5366bd0afee5a,1374854147,1,0,26,4,3,2,...,707.0,722.0,0.050392,0.792833,0.809630,30,TRUE,FALSE,0.033333,6
366,786,786,07d597079781967f5a149f1812ddca3897fa49d9,1384883263,1,1,22,24,3,3,...,474.0,474.0,0.086331,0.854317,0.854317,46,TRUE,TRUE,0.021739,7
6716,14368,14368,87ced20aff04b062d3b5ec46124a9a6d154e3690,1354845714,1,0,20,5,1,1,...,1583.0,1587.0,0.002855,0.502538,0.503807,25,TRUE,FALSE,0.040000,4
11580,25111,25111,ef3fbe99af498a40555b44f9ef0fcf6b88eb5d30,1380615050,1,1,7,3,2,2,...,1203.0,2465.0,0.260185,0.195423,0.400260,10,TRUE,TRUE,0.100000,7
4850,10291,10291,623246dda26e432634df4622ec635294f6aae019,1391000545,1,1,34,2,3,3,...,574.0,601.0,0.134921,0.507055,0.530864,36,TRUE,TRUE,0.027778,8

In [152]:
train_df = df2[df2['commit_id'].isin(train_df['commit_id'])]
val_df = df2[df2['commit_id'].isin(train_df['commit_id'])]
test_df = df2[df2['commit_id'].isin(test_df['commit_id'])]

In [153]:
train_df.to_csv('../../ruok/data/ballowfiletrain.csv', index=False)
val_df.to_csv('../../ruok/data/ballowfileval.csv', index=False)
test_df.to_csv('../../ruok/data/ballowfiletest.csv', index=False)

In [159]:
alldf = df1.sample(frac=1)
alldf.head(20)

,Unnamed: 0,X,commit_id,author_date,bugcount,fixcount,la,ld,nf,nd,...,rsexp,osexp,asawr,rsawr,osawr,churn,buggy,fix,bugdens,strata
2622,5535,5535,34b4bf34d223c7c289dde5441e93ebfea90eade9,1385597495,0,0,8,8,1,1,...,NaN,NaN,0.000000,0.000000,0.000000,16,FALSE,FALSE,0.000000,7
8472,18193,18193,ac8b949706b8d0eb0a83193e0187f63dd7ee3225,1357873285,0,0,1,0,1,1,...,1215.0,1227.0,0.007418,0.346933,0.350357,1,FALSE,FALSE,0.000000,4
4062,8650,8650,52a2a65ed4b0ab5174eaaba2c43ac80b63971380,1355793537,0,0,17,1,2,2,...,161.0,271.0,0.633229,0.507837,0.852665,18,FALSE,FALSE,0.000000,4
6715,14367,14367,87cd5598476d0835c526918a9e1f03fe2d698866,1385346285,0,0,8,4,1,1,...,351.0,352.0,0.050179,0.630824,0.632616,12,FALSE,FALSE,0.000000,7
4657,9888,9888,5ec6a60602eda70d6e65173085036b1b593afd44,1372946430,3,0,361,1,9,5,...,34.0,34.0,0.135135,0.945946,0.945946,362,TRUE,FALSE,0.008287,6
1484,3152,3152,1eb8fa563d13e46f0a7011143f65e371ae091684,1380251376,2,1,208,58,4,3,...,313.0,313.0,0.010283,0.807198,0.807198,266,TRUE,TRUE,0.007519,7
2614,5518,5518,34798f3a1e3a910eac553c4eb87e5ffedd74fac1,1373227254,1,0,609,20,11,4,...,35.0,35.0,0.022222,0.800000,0.800000,629,TRUE,FALSE,0.001590,6
1179,2506,2506,187140c2fcafb56752f0160832607e374a4a94ff,1384443855,0,1,1,108,2,2,...,1298.0,1317.0,0.005008,0.197147,0.200030,109,FALSE,TRUE,0.000000,7
6205,13281,13281,7d8936cc802ce28a476e30a6b94ab23881580b48,1342694535,0,0,8,6,1,1,...,718.0,726.0,0.012036,0.376243,0.380429,14,FALSE,FALSE,0.000000,2
1574,3345,3345,20854e8aff36de6467a18827bd26adf86d75c30a,1380821868,0,0,10,9,1,1,...,2024.0,2520.0,0.129438,0.326824,0.406875,19,FALSE,FALSE,0.000000,7
3630,7697,7697,49c1c981b5850c21ebcef5667a1198e79a8a3da4,1363620987,1,0,7,1,2,2,...,670.0,670.0,0.011834,0.794083,0.794083,8,TRUE,FALSE,0.125000,5
11766,25480,25480,f2f58eef93aec45e46a9a2ab06fc8b00a9420350,1381262067,0,1,51,60,6,3,...,2460.0,2891.0,0.131305,0.394075,0.463090,111,FALSE,TRUE,0.000000,7
691,1482,1482,0ec5e32dc7e42e817a6bdff3fd250378bf5c03dd,1389621935,0,0,42,15,6,6,...,2112.0,2112.0,0.041738,0.300997,0.300997,57,FALSE,FALSE,0.000000,8
10494,22693,22693,d7d94ac975743585675978890bc8e737db627b9d,1329735283,0,0,1,1,1,1,...,308.0,318.0,0.016593,0.341814,0.352876,2,FALSE,FALSE,0.000000,0
11935,25846,25846,f634eb381ea6e8c2da29c41e9c508d140fed34d6,1340122402,0,0,346,126,7,3,...,221.0,221.0,0.008696,0.643478,0.643478,472,FALSE,FALSE,0.000000,2
9691,20994,20994,c760adc0433a4f86a599f22c8461fd9763bc59dd,1389988036,1,0,54,32,5,3,...,1930.0,3170.0,0.266742,0.271666,0.446117,86,TRUE,FALSE,0.011628,8
9950,21538,21538,ccb9e3f00f2df34273b8e7698b663fd719391ae9,1351101349,0,0,11,13,2,2,...,218.0,228.0,0.006168,0.079463,0.083091,24,FALSE,FALSE,0.000000,3
788,1665,1665,1073d507f47704f4746f74b3ed18077a05ef1d0e,1341856466,0,0,1,1,1,1,...,656.0,807.0,0.102130,0.358820,0.441289,2,FALSE,FALSE,0.000000,2
9434,20415,20415,c1ea910bc501643e53bbb2401a62c3482d667c06,1336082713,4,0,206,16,8,5,...,244.0,267.0,0.560886,0.904059,0.988930,222,TRUE,FALSE,0.018018,1
10982,23749,23749,e1d8983c8bada511f2f098cef83e0589f8df3391,1393337550,0,0,3,3,2,2,...,3132.0,3145.0,0.026994,0.420763,0.422509,6,FALSE,FALSE,0.000000,8

In [167]:
train_df = alldf.iloc[2400:,:]
val_df = bal_lowfile.iloc[:1200, :]
test_df = bal_lowfile.iloc[1200:2400:,:]

In [169]:
test_df[test_df['buggy'] == 'TRUE']

,Unnamed: 0,X,commit_id,author_date,bugcount,fixcount,la,ld,nf,nd,...,rsexp,osexp,asawr,rsawr,osawr,churn,buggy,fix,bugdens,strata
1455,3107,3107,1e40cf967f671392d79f5368ad277a6a373d7040,1372685735,2,0,446,143,5,4,...,361.0,361.0,0.011876,0.429929,0.429929,589,TRUE,FALSE,0.003396,6
7443,15911,15911,966a514821738caf7835e7781037a04454e3299d,1379712636,1,0,16,0,2,2,...,437.0,972.0,0.790196,0.429412,0.953922,16,TRUE,FALSE,0.062500,7
9079,19568,19568,ba0ac2e0e2f7ddf71caf6dcc6978e96962bfd08b,1385547963,2,0,53,2,3,2,...,746.0,752.0,0.011706,0.624582,0.629599,55,TRUE,FALSE,0.036364,7
11856,25678,25678,f4c06c231a1fd2d2deae0395f0e6edf8e00d8e71,1390332723,1,0,105,3,2,2,...,1669.0,1673.0,0.002384,0.234156,0.234717,108,TRUE,FALSE,0.009259,8
3915,8327,8327,4f9d45aa4f6a805eb5cdaddaf7cef1472e37755a,1368089284,1,0,111,21,2,2,...,729.0,758.0,0.010029,0.162692,0.169155,132,TRUE,FALSE,0.007576,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
841,1825,1825,121a79317cbeec83025c1fafdf472982c8de035d,1351517857,1,0,41,1,2,2,...,304.0,358.0,0.664141,0.770202,0.906566,42,TRUE,FALSE,0.023810,3
7003,14978,14978,8d985b826b459335ab89fef69c132470af066daf,1378727967,2,0,30,51,2,2,...,1288.0,1503.0,0.060499,0.216021,0.252053,81,TRUE,FALSE,0.024691,7
5154,10943,10943,681d7d3be4d68868814846f70f46cfa7c7b6e675,1354294875,1,0,43,0,3,3,...,381.0,469.0,0.862275,0.762475,0.938124,43,TRUE,FALSE,0.023256,4
4821,10235,10235,61b2cf8e6e7cf520876443d1d64c100645746ae4,1361273640,1,0,14,7,3,2,...,373.0,634.0,0.675676,0.505405,0.858108,21,TRUE,FALSE,0.047619,4
1914,4041,4041,26dcbc51c57b3f1abc292eb01988142b94b43dc1,1369172569,2,0,324,0,2,2,...,2170.0,2358.0,0.096949,0.469812,0.510496,324,TRUE,FALSE,0.006173,5

In [170]:
train_df = df2[df2['commit_id'].isin(train_df['commit_id'])]
val_df = df2[df2['commit_id'].isin(train_df['commit_id'])]
test_df = df2[df2['commit_id'].isin(test_df['commit_id'])]

In [171]:
train_df.to_csv('../../ruok/data/alltrain.csv', index=False)
val_df.to_csv('../../ruok/data/allval.csv', index=False)
test_df.to_csv('../../ruok/data/alltest.csv', index=False)

In [9]:
set(df1['commit_id']) & set(df2['commit_id']) == set(df1['commit_id'])

True

In [57]:
import json

with open('../data/subtrees_0.25_train.json') as file:
    subtrees = json.load(file)

In [95]:
set(subtrees.keys()) - set(df1[df1['nf'] <= 3]['commit_id'])

set()

In [59]:
df2[df2['commit_id'].isin(subtrees.keys())].to_csv('../data/gnn_train.csv', index=False)

In [35]:
df3 = pd.read_csv('../data/gnn_val.csv')
df3

,commit_id,author_date,bugcount,fixcount,la,ld,nf,nd,ns,ent,...,oexp,arexp,rrexp,orexp,asexp,rsexp,osexp,asawr,rsawr,osawr
0,005ff1100a11c83808471ece313d0f9001f4653c,1374603627,NaN,NaN,132,201,2,1,1,0.909022,...,815.0,3.0,778.0,781.0,0.0,673.0,673.0,0.001330,0.896277,0.896277
1,00aced0ec5ad9520614ba1846d061f9605ace758,1360611514,NaN,NaN,38,3,3,3,1,0.871599,...,1056.0,136.0,965.0,1037.0,134.0,904.0,975.0,0.035294,0.236601,0.255163
2,01e45596fae2818b41c76b41bef46e86c5d33231,1382184363,NaN,1.0,45,1,2,2,1,0.258019,...,1199.0,148.0,1031.0,1097.0,89.0,312.0,346.0,0.191898,0.667377,0.739872
3,02797aab3c78961c0cf100df4367df61654bedc1,1355068625,2.0,NaN,21,3,3,2,1,0.886860,...,1854.0,379.0,1393.0,1764.0,14.0,1231.0,1241.0,0.004733,0.388766,0.391922
4,0438cade12bc26e93832d186f010dd77b20ad4c9,1383287173,0.0,NaN,36,0,1,1,1,0.000000,...,2367.0,61.0,2039.0,2080.0,48.0,2188.0,2216.0,0.007540,0.336821,0.341129
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
345,fe9eb0f03ca7bca8b742a19b4a775640ad06b5f2,1370288171,NaN,NaN,76,3,3,3,1,0.683817,...,2051.0,40.0,1723.0,1746.0,40.0,1782.0,1805.0,0.008679,0.377434,0.382303
346,fee9b2ad61bb69d356e1280f0556afd808c5f128,1358756342,NaN,NaN,11,10,2,2,1,0.591673,...,403.0,357.0,403.0,403.0,262.0,281.0,281.0,0.903780,0.969072,0.969072
347,ff3b90522b0c6f02d71dc5fdea7092fcf498cd3a,1359387897,NaN,NaN,1,5,2,2,1,0.000000,...,611.0,419.0,151.0,566.0,19.0,131.0,146.0,0.066007,0.435644,0.485149
348,ffa11a64706e898ba3ae45f84920d632b5947add,1380332296,1.0,NaN,11,6,3,2,1,0.977036,...,1631.0,148.0,1407.0,1489.0,99.0,135.0,194.0,0.250627,0.340852,0.488722
349,ffead4c28c4a44d82c730e1a1dcfbedd976b4f0b,1373353424,NaN,NaN,49,3,1,1,1,0.000000,...,2953.0,829.0,2072.0,2670.0,814.0,1375.0,1979.0,0.156821,0.264768,0.380989

In [13]:
df2['hcmt'].head()

0    NaN
1    3.0
2    NaN
3    NaN
4    NaN
Name: hcmt, dtype: float64

In [11]:
df2.columns.tolist()

['commit_id',
 'author_date',
 'bugcount',
 'fixcount',
 'la',
 'ld',
 'nf',
 'nd',
 'ns',
 'ent',
 'revd',
 'nrev',
 'rtime',
 'tcmt',
 'hcmt',
 'self',
 'ndev',
 'age',
 'nuc',
 'app',
 'aexp',
 'rexp',
 'oexp',
 'arexp',
 'rrexp',
 'orexp',
 'asexp',
 'rsexp',
 'osexp',
 'asawr',
 'rsawr',
 'osawr']

In [19]:
original = ['ns', 'nd', 'nf', 'ent', 'la', 'ld', 'lt', 'fix', 'ndev', 'age', 'nuc', 'exp', 'rexp', 'sexp']
understood = ['aexp', 'arexp', 'asexp', 'asawr', 'rexp', 'rrexp', 'rsexp', 'rsawr', 'hcmt', 'nrev', 'app', 'rtime']
set(df2.columns.tolist()) - set(original) - set(understood)

{'author_date',
 'bugcount',
 'commit_id',
 'fixcount',
 'oexp',
 'orexp',
 'osawr',
 'osexp',
 'revd',
 'self',
 'tcmt'}

In [7]:
df3 = pd.read_csv('../data/qt.csv')
df3.shape

(32155, 32)

In [11]:
df3.columns.tolist()

['commit_id',
 'author_date',
 'bugcount',
 'fixcount',
 'la',
 'ld',
 'nf',
 'nd',
 'ns',
 'ent',
 'revd',
 'nrev',
 'rtime',
 'tcmt',
 'hcmt',
 'self',
 'ndev',
 'age',
 'nuc',
 'app',
 'aexp',
 'rexp',
 'oexp',
 'arexp',
 'rrexp',
 'orexp',
 'asexp',
 'rsexp',
 'osexp',
 'asawr',
 'rsawr',
 'osawr']

In [12]:
len(set(df2.columns.tolist()) & set(df3.columns.tolist()))

32

In [13]:
set(df1.columns.tolist()) - set(df2.columns.tolist())

{'Unnamed: 0', 'X', 'bugdens', 'buggy', 'churn', 'fix', 'strata'}

In [ ]:
y = df['buggy'].tolist()
y = [int(label) for label in y]
y[:10]

[0, 0, 0, 0, 1, 0, 1, 1, 0, 0]

In [ ]:
feature_columns = df.columns.tolist()[6:34] + df.columns.tolist()[35:]
X = df[feature_columns].to_numpy()
X = X.astype(float)
X[0]

array([2.00000000e+00, 2.00000000e+00, 2.00000000e+00, 2.00000000e+00,
       1.00000000e+00, 1.00000000e+00, 1.00000000e+00, 1.00000000e+00,
       6.49522700e+06, 4.00000000e+00, 0.00000000e+00, 6.00000000e+00,
       1.70682000e+05, 7.00000000e+00, 2.00000000e+00, 1.20000000e+01,
       3.54000000e+02, 3.66000000e+02, 1.00000000e+01, 3.54000000e+02,
       3.64000000e+02, 0.00000000e+00, 2.59000000e+02, 2.59000000e+02,
       3.47222222e-03, 9.02777778e-01, 9.02777778e-01, 4.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 4.00000000e+00])

In [ ]:
X[56]

array([62.,  0.,  1.,  1.,  1.,  0.,  0., nan, nan, nan, nan,  0.,  0.,
        0., nan,  0., nan, nan,  0., nan, nan,  0., nan, nan,  0.,  0.,
        0., 62.,  0.,  0.,  5.])

In [ ]:
import numpy as np

nans = list(set(np.argwhere(np.isnan(X))[:, 0]))

In [ ]:
X = np.delete(X, nans, axis=0)
y = np.delete(y, nans, axis=0)

In [ ]:
print(X.shape)
print(len(y))

(12041, 31)
12041

In [ ]:
from sklearn.linear_model import LogisticRegression

clf = LogisticRegression(random_state=0).fit(X[:11000], y[:11000])

In [ ]:
clf.predict(X[11001:11020,:])

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0])

In [ ]:
y[11001:11020]

array([0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1])

In [ ]:
clf.score(X[11001:], y[11001:])

0.8096153846153846