In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [13]:
import pandas as pd

df1 = pd.read_csv('../data/rawdata.csv', dtype={'revd': str, 'buggy': str, 'fix': str})
df1.shape

(12374, 38)

In [2]:
df1.dtypes

Unnamed: 0       int64
X                int64
commit_id       object
author_date      int64
bugcount         int64
fixcount         int64
la               int64
ld               int64
nf               int64
nd               int64
ns               int64
ent            float64
revd            object
nrev           float64
rtime          float64
hcmt           float64
self            object
ndev             int64
age            float64
nuc              int64
app            float64
aexp             int64
rexp           float64
oexp           float64
arexp            int64
rrexp          float64
orexp          float64
asexp            int64
rsexp          float64
osexp          float64
asawr          float64
rsawr          float64
osawr          float64
churn            int64
buggy           object
fix             object
bugdens        float64
strata           int64
dtype: object

In [3]:
df1[(df1['buggy'] == 'TRUE') & (df1['nf'] > 20)]

,Unnamed: 0,X,commit_id,author_date,bugcount,fixcount,la,ld,nf,nd,...,rsexp,osexp,asawr,rsawr,osawr,churn,buggy,fix,bugdens,strata
17,46,46,0070b452f1c00817dd4a47deb57bfbe6b79c4152,1361547297,8,0,1793,106,26,12,...,541.0,568.0,0.246996,0.723632,0.759680,1899,TRUE,FALSE,0.004213,4
70,166,166,01a938f7fe4dea274713e49f124fcc45702f80a0,1331023987,4,0,375,357,66,26,...,603.0,604.0,0.006278,0.541704,0.542601,732,TRUE,FALSE,0.005464,1
107,244,244,026d50f718a7ebd61669f885c0b9556066041540,1378217189,1,0,86,86,33,14,...,1527.0,1574.0,0.012513,0.258370,0.266317,172,TRUE,FALSE,0.005814,7
549,1205,1205,0c0d8f00a9d9b9bc69af70bd004c910df0df9951,1338724509,5,0,444,475,33,22,...,17.0,26.0,0.101351,0.121622,0.182432,919,TRUE,FALSE,0.005441,2
613,1333,1333,0d4e6dbe6f17d0a8d0f93833c1ea70f79944d945,1351027525,2,0,258,308,26,14,...,1762.0,1890.0,0.138321,0.643431,0.690146,566,TRUE,FALSE,0.003534,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12042,26076,26076,f87e7d964c19cc2be33226df66f0c823af993d49,1389898466,4,0,162,28,24,19,...,605.0,622.0,0.144068,0.855932,0.879944,190,TRUE,FALSE,0.021053,8
12062,26115,26115,f8de8c4450ab0d8483ccfcfcca48e21fea71c637,1361710506,12,0,1524,243,31,19,...,381.0,515.0,0.306005,0.441109,0.595843,1767,TRUE,FALSE,0.006791,4
12095,26202,26202,f9a868e86ce11f786538547c301b805bd68a1697,1334296488,6,0,3484,12,23,7,...,109.0,385.0,0.209455,0.080000,0.280727,3496,TRUE,FALSE,0.001716,1
12202,26444,26444,fbf0e621399027d5004bbc8c888d67a3c2851686,1389937243,2,1,63,47,21,14,...,204.0,231.0,0.074438,0.287921,0.325843,110,TRUE,TRUE,0.018182,8
12304,26696,26696,fe716c0ee499ed13f37231c651b8e018baede772,1342781621,1,0,219,354,68,20,...,30.0,30.0,0.020408,0.632653,0.632653,573,TRUE,FALSE,0.001745,2

In [4]:
df1[df1['buggy'] == 'TRUE']

,Unnamed: 0,X,commit_id,author_date,bugcount,fixcount,la,ld,nf,nd,...,rsexp,osexp,asawr,rsawr,osawr,churn,buggy,fix,bugdens,strata
4,15,15,001d36c97eac77410f7dd32290d2142abfb19fa0,1392721937,1,0,12,6,2,2,...,1361.0,2241.0,0.147545,0.184703,0.304041,18,TRUE,FALSE,0.055556,8
6,24,24,0043044f2e8ee3de8a9995bdbf51aad77f1a3fa9,1373357890,4,0,580,283,8,5,...,42.0,43.0,0.060000,0.860000,0.880000,863,TRUE,FALSE,0.004635,6
7,29,29,0057aed72c6e92fbc7bfe27eb9a30f191eed3fd4,1380799475,1,0,2,2,1,1,...,449.0,473.0,0.444785,0.460123,0.484663,4,TRUE,FALSE,0.250000,7
12,36,36,0061c0ce4443395a258a99c70e1c1a7d0435e84e,1340028045,1,0,462,1,4,3,...,45.0,46.0,0.132743,0.407080,0.415929,463,TRUE,FALSE,0.002160,2
14,43,43,006a4e5e31a12d049c3d6308c3a2d73f57cd980f,1374767629,1,0,15,3,2,2,...,250.0,283.0,0.041526,0.281706,0.318743,18,TRUE,FALSE,0.055556,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12349,26802,26802,ff7623f3c9e34a30ebff213fe19c775b1848eb2a,1383098720,1,0,757,6,17,6,...,395.0,395.0,0.005859,0.773438,0.773438,763,TRUE,FALSE,0.001311,7
12351,26804,26804,ff837025e955799e69eebcab665374436649d6f8,1344875498,1,0,360,52,10,7,...,22.0,94.0,0.371429,0.109524,0.452381,412,TRUE,FALSE,0.002427,2
12358,26814,26814,ffa04d3e83ad83a51b366f1a3579ed47328c1b43,1367506181,1,0,30,15,2,2,...,739.0,743.0,0.019210,0.789755,0.794023,45,TRUE,FALSE,0.022222,5
12359,26815,26815,ffa11a64706e898ba3ae45f84920d632b5947add,1380332296,1,0,11,6,3,2,...,135.0,194.0,0.250627,0.340852,0.488722,17,TRUE,FALSE,0.058824,7
12365,26836,26836,ffcf3431982a591041d642651f778b53e6db5735,1362091722,1,0,430,174,12,8,...,562.0,575.0,0.342291,0.796322,0.814710,604,TRUE,FALSE,0.001656,5

In [8]:
df1.head(20)

,Unnamed: 0,X,commit_id,author_date,bugcount,fixcount,la,ld,nf,nd,...,rsexp,osexp,asawr,rsawr,osawr,churn,buggy,fix,bugdens,strata
0,6,6,00057454f6609871c2cabf874876d26a6d0d0641,1358516662,0,0,2,2,2,2,...,259.0,259.0,0.003472,0.902778,0.902778,4,False,False,0.000000,4
1,9,9,0007d255d9b20da4e5bbcdbaf5813104fbc092da,1358353428,0,0,9,6,1,1,...,276.0,277.0,0.024735,0.978799,0.982332,15,False,False,0.000000,4
2,11,11,0014f2c828dae5f9481a2bac68fe90a7857b2f59,1377995125,0,0,7,8,2,1,...,257.0,275.0,0.200000,0.573333,0.613333,15,False,False,0.000000,7
3,14,14,001961ed495a33cc944407888a2797f8a600e091,1367268702,0,0,6,0,1,1,...,1922.0,2506.0,0.217116,0.435363,0.567580,6,False,False,0.000000,5
4,15,15,001d36c97eac77410f7dd32290d2142abfb19fa0,1392721937,1,0,12,6,2,2,...,1361.0,2241.0,0.147545,0.184703,0.304041,18,True,False,0.055556,8
5,23,23,0038e3818393415fc9628aef2747136a626682ee,1341252518,0,0,23,17,3,3,...,536.0,536.0,0.015677,0.300672,0.300672,40,False,False,0.000000,2
6,24,24,0043044f2e8ee3de8a9995bdbf51aad77f1a3fa9,1373357890,4,0,580,283,8,5,...,42.0,43.0,0.060000,0.860000,0.880000,863,True,False,0.004635,6
7,29,29,0057aed72c6e92fbc7bfe27eb9a30f191eed3fd4,1380799475,1,0,2,2,1,1,...,449.0,473.0,0.444785,0.460123,0.484663,4,True,False,0.250000,7
8,31,31,00592cfa0b90c66682be2bc31428277c35a35c48,1331588951,0,0,2,2,2,1,...,595.0,636.0,0.063436,0.525110,0.561233,4,False,False,0.000000,1
9,33,33,005b9950ac84bf3ae06c24ee018f192064060428,1367521170,0,0,3,2,1,1,...,836.0,847.0,0.003606,0.188641,0.191120,5,False,False,0.000000,5
10,34,34,005ef0796270cb6238dc9863b468b0f1d7026e7c,1358916201,0,0,39,5,3,2,...,1210.0,1214.0,0.001645,0.332054,0.333151,44,False,False,0.000000,4
11,35,35,005ff1100a11c83808471ece313d0f9001f4653c,1374603627,0,0,132,201,2,1,...,673.0,673.0,0.001330,0.896277,0.896277,333,False,False,0.000000,6
12,36,36,0061c0ce4443395a258a99c70e1c1a7d0435e84e,1340028045,1,0,462,1,4,3,...,45.0,46.0,0.132743,0.407080,0.415929,463,True,False,0.002160,2
13,37,37,006254c5050176c9b569007f6ef7203e6067215d,1344016566,0,0,15,3,1,1,...,346.0,346.0,0.707657,0.805104,0.805104,18,False,False,0.000000,2
14,43,43,006a4e5e31a12d049c3d6308c3a2d73f57cd980f,1374767629,1,0,15,3,2,2,...,250.0,283.0,0.041526,0.281706,0.318743,18,True,False,0.055556,6
15,44,44,006d673d24778abe6c47e3ee7e1a19e163912440,1367348740,0,0,15,12,1,1,...,477.0,477.0,0.919028,0.967611,0.967611,27,False,False,0.000000,5
16,45,45,006fea117307460544492a3548203a9ef31f34ba,1326777632,0,0,14,24,3,3,...,152.0,152.0,0.003650,0.279197,0.279197,38,False,False,0.000000,0
17,46,46,0070b452f1c00817dd4a47deb57bfbe6b79c4152,1361547297,8,0,1793,106,26,12,...,541.0,568.0,0.246996,0.723632,0.759680,1899,True,False,0.004213,4
18,48,48,00786bc554a2dfacb3c6f02fbb7e9c98f35d4262,1338278278,0,0,162,139,6,4,...,178.0,387.0,0.161211,0.110562,0.239654,301,False,False,0.000000,1
19,50,50,007a1856dd8b5a781a3abe312a023344995162d6,1347632012,0,0,12,6,1,1,...,827.0,827.0,0.000398,0.329487,0.329487,18,False,False,0.000000,3

In [ ]:
df.columns.tolist()

['Unnamed: 0',
 'X',
 'commit_id',
 'author_date',
 'bugcount',
 'fixcount',
 'la',
 'ld',
 'nf',
 'nd',
 'ns',
 'ent',
 'revd',
 'nrev',
 'rtime',
 'hcmt',
 'self',
 'ndev',
 'age',
 'nuc',
 'app',
 'aexp',
 'rexp',
 'oexp',
 'arexp',
 'rrexp',
 'orexp',
 'asexp',
 'rsexp',
 'osexp',
 'asawr',
 'rsawr',
 'osawr',
 'churn',
 'buggy',
 'fix',
 'bugdens',
 'strata']

In [14]:
df2 = pd.read_csv('../data/openstack.csv', dtype={'self':str, 'revd': str})
df2.shape

(26855, 32)

In [6]:
df2.dtypes

commit_id       object
author_date      int64
bugcount       float64
fixcount       float64
la               int64
ld               int64
nf               int64
nd               int64
ns               int64
ent            float64
revd            object
nrev           float64
rtime          float64
tcmt           float64
hcmt           float64
self            object
ndev           float64
age            float64
nuc            float64
app            float64
aexp           float64
rexp           float64
oexp           float64
arexp          float64
rrexp          float64
orexp          float64
asexp          float64
rsexp          float64
osexp          float64
asawr          float64
rsawr          float64
osawr          float64
dtype: object

In [107]:
df1[(df1['nf'] <= 4) & (df1['buggy'] == 'TRUE')]

,Unnamed: 0,X,commit_id,author_date,bugcount,fixcount,la,ld,nf,nd,...,rsexp,osexp,asawr,rsawr,osawr,churn,buggy,fix,bugdens,strata
4,15,15,001d36c97eac77410f7dd32290d2142abfb19fa0,1392721937,1,0,12,6,2,2,...,1361.0,2241.0,0.147545,0.184703,0.304041,18,TRUE,FALSE,0.055556,8
7,29,29,0057aed72c6e92fbc7bfe27eb9a30f191eed3fd4,1380799475,1,0,2,2,1,1,...,449.0,473.0,0.444785,0.460123,0.484663,4,TRUE,FALSE,0.250000,7
12,36,36,0061c0ce4443395a258a99c70e1c1a7d0435e84e,1340028045,1,0,462,1,4,3,...,45.0,46.0,0.132743,0.407080,0.415929,463,TRUE,FALSE,0.002160,2
14,43,43,006a4e5e31a12d049c3d6308c3a2d73f57cd980f,1374767629,1,0,15,3,2,2,...,250.0,283.0,0.041526,0.281706,0.318743,18,TRUE,FALSE,0.055556,6
40,103,103,010bd1f392e67a6fcd276593b8c79acfe41d1cc7,1378720692,1,0,111,16,2,2,...,273.0,273.0,0.026578,0.910299,0.910299,127,TRUE,FALSE,0.007874,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12340,26779,26779,ff4863cca3012b2060bff788456c1b98b03d46d5,1373876370,2,0,63,2,2,2,...,994.0,1044.0,0.015761,0.188948,0.198443,65,TRUE,FALSE,0.030769,6
12345,26792,26792,ff6e64992bf40fd2ac6618cbe50b8844e35b6538,1375266652,1,0,258,251,2,1,...,1587.0,1696.0,0.046247,0.291430,0.311433,509,TRUE,FALSE,0.001965,6
12348,26800,26800,ff75ad4dfb352a5362e53ce91125419998d861aa,1363951690,1,0,23,7,2,2,...,288.0,288.0,0.001332,0.384820,0.384820,30,TRUE,FALSE,0.033333,5
12358,26814,26814,ffa04d3e83ad83a51b366f1a3579ed47328c1b43,1367506181,1,0,30,15,2,2,...,739.0,743.0,0.019210,0.789755,0.794023,45,TRUE,FALSE,0.022222,5
12359,26815,26815,ffa11a64706e898ba3ae45f84920d632b5947add,1380332296,1,0,11,6,3,2,...,135.0,194.0,0.250627,0.340852,0.488722,17,TRUE,FALSE,0.058824,7

In [7]:
lowfile = df1[df1['nf'] <= 5]

In [8]:
lowfile[lowfile['buggy'] == 'TRUE']

,Unnamed: 0,X,commit_id,author_date,bugcount,fixcount,la,ld,nf,nd,...,rsexp,osexp,asawr,rsawr,osawr,churn,buggy,fix,bugdens,strata
4,15,15,001d36c97eac77410f7dd32290d2142abfb19fa0,1392721937,1,0,12,6,2,2,...,1361.0,2241.0,0.147545,0.184703,0.304041,18,TRUE,FALSE,0.055556,8
7,29,29,0057aed72c6e92fbc7bfe27eb9a30f191eed3fd4,1380799475,1,0,2,2,1,1,...,449.0,473.0,0.444785,0.460123,0.484663,4,TRUE,FALSE,0.250000,7
12,36,36,0061c0ce4443395a258a99c70e1c1a7d0435e84e,1340028045,1,0,462,1,4,3,...,45.0,46.0,0.132743,0.407080,0.415929,463,TRUE,FALSE,0.002160,2
14,43,43,006a4e5e31a12d049c3d6308c3a2d73f57cd980f,1374767629,1,0,15,3,2,2,...,250.0,283.0,0.041526,0.281706,0.318743,18,TRUE,FALSE,0.055556,6
33,84,84,00dd97c7e9a852f4abd6e8460a0d094c01d3d0ba,1347205765,1,0,103,56,5,4,...,209.0,222.0,0.128125,0.656250,0.696875,159,TRUE,FALSE,0.006289,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12340,26779,26779,ff4863cca3012b2060bff788456c1b98b03d46d5,1373876370,2,0,63,2,2,2,...,994.0,1044.0,0.015761,0.188948,0.198443,65,TRUE,FALSE,0.030769,6
12345,26792,26792,ff6e64992bf40fd2ac6618cbe50b8844e35b6538,1375266652,1,0,258,251,2,1,...,1587.0,1696.0,0.046247,0.291430,0.311433,509,TRUE,FALSE,0.001965,6
12348,26800,26800,ff75ad4dfb352a5362e53ce91125419998d861aa,1363951690,1,0,23,7,2,2,...,288.0,288.0,0.001332,0.384820,0.384820,30,TRUE,FALSE,0.033333,5
12358,26814,26814,ffa04d3e83ad83a51b366f1a3579ed47328c1b43,1367506181,1,0,30,15,2,2,...,739.0,743.0,0.019210,0.789755,0.794023,45,TRUE,FALSE,0.022222,5
12359,26815,26815,ffa11a64706e898ba3ae45f84920d632b5947add,1380332296,1,0,11,6,3,2,...,135.0,194.0,0.250627,0.340852,0.488722,17,TRUE,FALSE,0.058824,7

In [127]:
lowfile[lowfile['buggy'] == 'FALSE'].iloc[:5921]

,Unnamed: 0,X,commit_id,author_date,bugcount,fixcount,la,ld,nf,nd,...,rsexp,osexp,asawr,rsawr,osawr,churn,buggy,fix,bugdens,strata
0,6,6,00057454f6609871c2cabf874876d26a6d0d0641,1358516662,0,0,2,2,2,2,...,259.0,259.0,0.003472,0.902778,0.902778,4,FALSE,FALSE,0.0,4
1,9,9,0007d255d9b20da4e5bbcdbaf5813104fbc092da,1358353428,0,0,9,6,1,1,...,276.0,277.0,0.024735,0.978799,0.982332,15,FALSE,FALSE,0.0,4
2,11,11,0014f2c828dae5f9481a2bac68fe90a7857b2f59,1377995125,0,0,7,8,2,1,...,257.0,275.0,0.200000,0.573333,0.613333,15,FALSE,FALSE,0.0,7
3,14,14,001961ed495a33cc944407888a2797f8a600e091,1367268702,0,0,6,0,1,1,...,1922.0,2506.0,0.217116,0.435363,0.567580,6,FALSE,FALSE,0.0,5
5,23,23,0038e3818393415fc9628aef2747136a626682ee,1341252518,0,0,23,17,3,3,...,536.0,536.0,0.015677,0.300672,0.300672,40,FALSE,FALSE,0.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8312,17866,17866,a957beb94720ca3f171149155f9dcabd20e6141b,1378115348,0,1,15,2,2,2,...,1812.0,1904.0,0.026267,0.307236,0.322827,17,FALSE,TRUE,0.0,7
8313,17867,17867,a95a2149a5ba805451a6d961b792ccd5b9984bea,1365732301,0,0,23,1,1,1,...,443.0,443.0,0.917722,0.936709,0.936709,24,FALSE,FALSE,0.0,5
8314,17868,17868,a95ec3d893b3c3ced4489a40ca4d8144ae65e310,1346654757,0,0,11,0,3,2,...,371.0,371.0,0.004032,0.750000,0.750000,11,FALSE,FALSE,0.0,3
8315,17870,17870,a9661fba21d7e5dd3fb5d29f77266993e3adc460,1388787887,0,0,3,50,2,1,...,1182.0,1207.0,0.141095,0.912105,0.931380,53,FALSE,FALSE,0.0,8
8316,17871,17871,a9694595a629baba10549e82a1bb73e972cef7d9,1330666858,0,0,3,1,1,1,...,1.0,2.0,0.222222,0.222222,0.333333,4,FALSE,FALSE,0.0,1

In [10]:
bal_lowfile = pd.concat([lowfile[lowfile['buggy'] == 'TRUE'], lowfile[lowfile['buggy'] == 'FALSE'].iloc[:5921]])
bal_lowfile

,Unnamed: 0,X,commit_id,author_date,bugcount,fixcount,la,ld,nf,nd,...,rsexp,osexp,asawr,rsawr,osawr,churn,buggy,fix,bugdens,strata
4,15,15,001d36c97eac77410f7dd32290d2142abfb19fa0,1392721937,1,0,12,6,2,2,...,1361.0,2241.0,0.147545,0.184703,0.304041,18,TRUE,FALSE,0.055556,8
7,29,29,0057aed72c6e92fbc7bfe27eb9a30f191eed3fd4,1380799475,1,0,2,2,1,1,...,449.0,473.0,0.444785,0.460123,0.484663,4,TRUE,FALSE,0.250000,7
12,36,36,0061c0ce4443395a258a99c70e1c1a7d0435e84e,1340028045,1,0,462,1,4,3,...,45.0,46.0,0.132743,0.407080,0.415929,463,TRUE,FALSE,0.002160,2
14,43,43,006a4e5e31a12d049c3d6308c3a2d73f57cd980f,1374767629,1,0,15,3,2,2,...,250.0,283.0,0.041526,0.281706,0.318743,18,TRUE,FALSE,0.055556,6
33,84,84,00dd97c7e9a852f4abd6e8460a0d094c01d3d0ba,1347205765,1,0,103,56,5,4,...,209.0,222.0,0.128125,0.656250,0.696875,159,TRUE,FALSE,0.006289,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8312,17866,17866,a957beb94720ca3f171149155f9dcabd20e6141b,1378115348,0,1,15,2,2,2,...,1812.0,1904.0,0.026267,0.307236,0.322827,17,FALSE,TRUE,0.000000,7
8313,17867,17867,a95a2149a5ba805451a6d961b792ccd5b9984bea,1365732301,0,0,23,1,1,1,...,443.0,443.0,0.917722,0.936709,0.936709,24,FALSE,FALSE,0.000000,5
8314,17868,17868,a95ec3d893b3c3ced4489a40ca4d8144ae65e310,1346654757,0,0,11,0,3,2,...,371.0,371.0,0.004032,0.750000,0.750000,11,FALSE,FALSE,0.000000,3
8315,17870,17870,a9661fba21d7e5dd3fb5d29f77266993e3adc460,1388787887,0,0,3,50,2,1,...,1182.0,1207.0,0.141095,0.912105,0.931380,53,FALSE,FALSE,0.000000,8
8316,17871,17871,a9694595a629baba10549e82a1bb73e972cef7d9,1330666858,0,0,3,1,1,1,...,1.0,2.0,0.222222,0.222222,0.333333,4,FALSE,FALSE,0.000000,1

In [11]:
bal_lowfile

,Unnamed: 0,X,commit_id,author_date,bugcount,fixcount,la,ld,nf,nd,...,rsexp,osexp,asawr,rsawr,osawr,churn,buggy,fix,bugdens,strata
4,15,15,001d36c97eac77410f7dd32290d2142abfb19fa0,1392721937,1,0,12,6,2,2,...,1361.0,2241.0,0.147545,0.184703,0.304041,18,TRUE,FALSE,0.055556,8
7,29,29,0057aed72c6e92fbc7bfe27eb9a30f191eed3fd4,1380799475,1,0,2,2,1,1,...,449.0,473.0,0.444785,0.460123,0.484663,4,TRUE,FALSE,0.250000,7
12,36,36,0061c0ce4443395a258a99c70e1c1a7d0435e84e,1340028045,1,0,462,1,4,3,...,45.0,46.0,0.132743,0.407080,0.415929,463,TRUE,FALSE,0.002160,2
14,43,43,006a4e5e31a12d049c3d6308c3a2d73f57cd980f,1374767629,1,0,15,3,2,2,...,250.0,283.0,0.041526,0.281706,0.318743,18,TRUE,FALSE,0.055556,6
33,84,84,00dd97c7e9a852f4abd6e8460a0d094c01d3d0ba,1347205765,1,0,103,56,5,4,...,209.0,222.0,0.128125,0.656250,0.696875,159,TRUE,FALSE,0.006289,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8312,17866,17866,a957beb94720ca3f171149155f9dcabd20e6141b,1378115348,0,1,15,2,2,2,...,1812.0,1904.0,0.026267,0.307236,0.322827,17,FALSE,TRUE,0.000000,7
8313,17867,17867,a95a2149a5ba805451a6d961b792ccd5b9984bea,1365732301,0,0,23,1,1,1,...,443.0,443.0,0.917722,0.936709,0.936709,24,FALSE,FALSE,0.000000,5
8314,17868,17868,a95ec3d893b3c3ced4489a40ca4d8144ae65e310,1346654757,0,0,11,0,3,2,...,371.0,371.0,0.004032,0.750000,0.750000,11,FALSE,FALSE,0.000000,3
8315,17870,17870,a9661fba21d7e5dd3fb5d29f77266993e3adc460,1388787887,0,0,3,50,2,1,...,1182.0,1207.0,0.141095,0.912105,0.931380,53,FALSE,FALSE,0.000000,8
8316,17871,17871,a9694595a629baba10549e82a1bb73e972cef7d9,1330666858,0,0,3,1,1,1,...,1.0,2.0,0.222222,0.222222,0.333333,4,FALSE,FALSE,0.000000,1

In [12]:
lowfiletr = pd.read_csv('../data/ballowfiletrain.csv')
lowfiletr

,commit_id,author_date,bugcount,fixcount,la,ld,nf,nd,ns,ent,...,oexp,arexp,rrexp,orexp,asexp,rsexp,osexp,asawr,rsawr,osawr
0,0014f2c828dae5f9481a2bac68fe90a7857b2f59,1377995125,NaN,NaN,7,8,2,1,1,0.996792,...,449.0,122.0,398.0,422.0,89.0,257.0,275.0,0.200000,0.573333,0.613333
1,001961ed495a33cc944407888a2797f8a600e091,1367268702,NaN,NaN,6,0,1,1,1,0.000000,...,2903.0,1026.0,1932.0,2559.0,958.0,1922.0,2506.0,0.217116,0.435363,0.567580
2,0038e3818393415fc9628aef2747136a626682ee,1341252518,NaN,NaN,23,17,3,3,1,0.180696,...,622.0,44.0,622.0,622.0,27.0,536.0,536.0,0.015677,0.300672,0.300672
3,0057aed72c6e92fbc7bfe27eb9a30f191eed3fd4,1380799475,0.0,NaN,2,2,1,1,1,0.000000,...,812.0,432.0,601.0,620.0,434.0,449.0,473.0,0.444785,0.460123,0.484663
4,00592cfa0b90c66682be2bc31428277c35a35c48,1331588951,NaN,NaN,2,2,2,1,1,1.000000,...,673.0,75.0,628.0,673.0,71.0,595.0,636.0,0.063436,0.525110,0.561233
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5995,ff4194bec79067bf77ab25caec1e40ad3709ea07,1371660234,1.0,NaN,29,19,4,3,1,0.662445,...,1453.0,545.0,812.0,1278.0,526.0,792.0,1242.0,0.106702,0.160559,0.251670
5996,ff4863cca3012b2060bff788456c1b98b03d46d5,1373876370,0.0,NaN,63,2,2,2,1,0.655942,...,1844.0,81.0,1726.0,1772.0,82.0,994.0,1044.0,0.015761,0.188948,0.198443
5997,ff6e64992bf40fd2ac6618cbe50b8844e35b6538,1375266652,1.0,NaN,258,251,2,1,1,0.999975,...,2555.0,254.0,2257.0,2368.0,251.0,1587.0,1696.0,0.046247,0.291430,0.311433
5998,ffa04d3e83ad83a51b366f1a3579ed47328c1b43,1367506181,1.0,NaN,30,15,2,2,1,0.938932,...,826.0,17.0,805.0,809.0,17.0,739.0,743.0,0.019210,0.789755,0.794023
5999,ffa11a64706e898ba3ae45f84920d632b5947add,1380332296,1.0,NaN,11,6,3,2,1,0.977036,...,1631.0,148.0,1407.0,1489.0,99.0,135.0,194.0,0.250627,0.340852,0.488722

In [13]:
set(lowfiletr['commit_id']).issubset(set(lowfile['commit_id']))

True

In [14]:
lowfilete = pd.read_csv('../data/ballowfiletest.csv')
lowfilete

,commit_id,author_date,bugcount,fixcount,la,ld,nf,nd,ns,ent,...,oexp,arexp,rrexp,orexp,asexp,rsexp,osexp,asawr,rsawr,osawr
0,00ab3d4f36a1e994698f7ab1ecada1cefa72e8db,1366428888,NaN,NaN,50,6,4,4,2,0.753696,...,390.0,204.0,222.0,345.0,242.0,217.0,380.0,0.552273,0.495455,0.865909
1,00f0b170ec15299b20c345fa1f66f21185c2dc79,1345050439,NaN,NaN,20,15,4,3,1,0.729141,...,1742.0,317.0,1553.0,1740.0,235.0,1473.0,1582.0,0.104286,0.651348,0.699514
2,011e6353afbd662d3f53454e6ef96829c0705b8d,1371796986,NaN,NaN,15,15,3,3,1,0.742402,...,1371.0,158.0,1191.0,1285.0,155.0,1196.0,1288.0,0.031369,0.240700,0.259200
3,014499acf5d6d6a557c9415aa49c536817a02a0a,1361478518,NaN,NaN,9,0,2,2,1,0.991076,...,1526.0,434.0,1098.0,1465.0,345.0,1051.0,1335.0,0.087418,0.265791,0.337544
4,0185a36c40259c47d2647ba1dd5275f4088e525d,1389830110,NaN,NaN,35,21,3,3,1,0.648002,...,3412.0,887.0,2360.0,2708.0,997.0,2878.0,3274.0,0.141280,0.407559,0.463618
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
745,f364e8ebe3eb466bef79d6bafd926460971f601b,1375757232,1.0,NaN,55,61,4,4,1,0.930420,...,2613.0,603.0,1620.0,2096.0,613.0,1970.0,2444.0,0.110971,0.356226,0.441894
746,f752302d181583a95cf44354aea607ce9d9283f4,1374068215,2.0,NaN,88,77,5,4,1,0.367355,...,823.0,11.0,788.0,790.0,11.0,686.0,687.0,0.016484,0.943681,0.945055
747,f863697be1cf1abc49805f1345b81f49ba4556b4,1357323957,0.0,NaN,3,1,2,2,1,0.811278,...,1306.0,116.0,1225.0,1306.0,112.0,783.0,861.0,0.033196,0.230317,0.253231
748,fc7c36c9ca94de6bd2481c59d7710566dd4a1ddb,1380534337,1.0,NaN,46,192,3,2,1,0.955722,...,1168.0,7.0,1051.0,1054.0,4.0,997.0,997.0,0.004744,0.946869,0.946869
749,fe7198a6ecf45edd8b5ca2030586c746f204fe3f,1377913904,1.0,NaN,233,2,5,5,1,0.678979,...,657.0,185.0,483.0,541.0,184.0,449.0,501.0,0.197861,0.481283,0.536898

In [15]:
set(lowfilete['commit_id']).issubset(set(lowfile['commit_id']))

True

In [17]:
lowfileva = pd.read_csv('../data/ballowfileval.csv')
lowfileva

,commit_id,author_date,bugcount,fixcount,la,ld,nf,nd,ns,ent,...,oexp,arexp,rrexp,orexp,asexp,rsexp,osexp,asawr,rsawr,osawr
0,0014f2c828dae5f9481a2bac68fe90a7857b2f59,1377995125,NaN,NaN,7,8,2,1,1,0.996792,...,449.0,122.0,398.0,422.0,89.0,257.0,275.0,0.200000,0.573333,0.613333
1,001961ed495a33cc944407888a2797f8a600e091,1367268702,NaN,NaN,6,0,1,1,1,0.000000,...,2903.0,1026.0,1932.0,2559.0,958.0,1922.0,2506.0,0.217116,0.435363,0.567580
2,0038e3818393415fc9628aef2747136a626682ee,1341252518,NaN,NaN,23,17,3,3,1,0.180696,...,622.0,44.0,622.0,622.0,27.0,536.0,536.0,0.015677,0.300672,0.300672
3,0057aed72c6e92fbc7bfe27eb9a30f191eed3fd4,1380799475,0.0,NaN,2,2,1,1,1,0.000000,...,812.0,432.0,601.0,620.0,434.0,449.0,473.0,0.444785,0.460123,0.484663
4,00592cfa0b90c66682be2bc31428277c35a35c48,1331588951,NaN,NaN,2,2,2,1,1,1.000000,...,673.0,75.0,628.0,673.0,71.0,595.0,636.0,0.063436,0.525110,0.561233
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5995,ff4194bec79067bf77ab25caec1e40ad3709ea07,1371660234,1.0,NaN,29,19,4,3,1,0.662445,...,1453.0,545.0,812.0,1278.0,526.0,792.0,1242.0,0.106702,0.160559,0.251670
5996,ff4863cca3012b2060bff788456c1b98b03d46d5,1373876370,0.0,NaN,63,2,2,2,1,0.655942,...,1844.0,81.0,1726.0,1772.0,82.0,994.0,1044.0,0.015761,0.188948,0.198443
5997,ff6e64992bf40fd2ac6618cbe50b8844e35b6538,1375266652,1.0,NaN,258,251,2,1,1,0.999975,...,2555.0,254.0,2257.0,2368.0,251.0,1587.0,1696.0,0.046247,0.291430,0.311433
5998,ffa04d3e83ad83a51b366f1a3579ed47328c1b43,1367506181,1.0,NaN,30,15,2,2,1,0.938932,...,826.0,17.0,805.0,809.0,17.0,739.0,743.0,0.019210,0.789755,0.794023
5999,ffa11a64706e898ba3ae45f84920d632b5947add,1380332296,1.0,NaN,11,6,3,2,1,0.977036,...,1631.0,148.0,1407.0,1489.0,99.0,135.0,194.0,0.250627,0.340852,0.488722

In [21]:
lowfileva = bal_lowfile[~bal_lowfile['commit_id'].isin(pd.concat([lowfiletr, lowfilete])['commit_id'])]
lowfileva

,Unnamed: 0,X,commit_id,author_date,bugcount,fixcount,la,ld,nf,nd,...,rsexp,osexp,asawr,rsawr,osawr,churn,buggy,fix,bugdens,strata
4,15,15,001d36c97eac77410f7dd32290d2142abfb19fa0,1392721937,1,0,12,6,2,2,...,1361.0,2241.0,0.147545,0.184703,0.304041,18,TRUE,FALSE,0.055556,8
33,84,84,00dd97c7e9a852f4abd6e8460a0d094c01d3d0ba,1347205765,1,0,103,56,5,4,...,209.0,222.0,0.128125,0.656250,0.696875,159,TRUE,FALSE,0.006289,3
112,255,255,027b78a214e1f7ab7bbda342a024cb13dae8944d,1355868993,5,0,902,0,4,2,...,231.0,231.0,0.011719,0.906250,0.906250,902,TRUE,FALSE,0.005543,4
206,455,455,046c4ed223f0a60ade90b0fff92625ab7e6a6ab2,1377724189,1,0,59,0,4,3,...,286.0,287.0,0.005453,0.312977,0.314068,59,TRUE,FALSE,0.016949,6
234,513,513,04ec96cdc95396ba2f35493a632b603d182ab6ae,1379370680,2,0,44,18,2,1,...,909.0,933.0,0.138000,0.910000,0.934000,62,TRUE,FALSE,0.032258,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8276,17799,17799,a8ba7513705fe2a4c9d776c8833ff0f7f6d43ce4,1389810696,0,0,7,3,3,2,...,493.0,702.0,0.555940,0.569781,0.810842,10,FALSE,FALSE,0.000000,8
8278,17801,17801,a8c08baeb2ee6268ac61613a23cc86cf885a9d09,1343248997,0,0,2,0,1,1,...,1267.0,1411.0,0.120282,0.638148,0.710619,2,FALSE,FALSE,0.000000,2
8308,17858,17858,a94be9443d639dc0ac8498d8a35fed2832379ee7,1391760372,0,1,1,1,2,2,...,545.0,545.0,0.001117,0.610056,0.610056,2,FALSE,TRUE,0.000000,8
8314,17868,17868,a95ec3d893b3c3ced4489a40ca4d8144ae65e310,1346654757,0,0,11,0,3,2,...,371.0,371.0,0.004032,0.750000,0.750000,11,FALSE,FALSE,0.000000,3
8316,17871,17871,a9694595a629baba10549e82a1bb73e972cef7d9,1330666858,0,0,3,1,1,1,...,1.0,2.0,0.222222,0.222222,0.333333,4,FALSE,FALSE,0.000000,1

In [26]:
len(set(lowfileva['commit_id']) & set(bal_lowfile['commit_id']))

750

In [27]:
train_df = lowfiletr
val_df = lowfileva
test_df = lowfilete

In [148]:
bal_lowfile = bal_lowfile.sample(frac=1)
bal_lowfile.head(20)

,Unnamed: 0,X,commit_id,author_date,bugcount,fixcount,la,ld,nf,nd,...,rsexp,osexp,asawr,rsawr,osawr,churn,buggy,fix,bugdens,strata
775,1638,1638,103ba151619a2e44b6eff39f99332edc3c4d1dad,1349119113,0,0,19,0,1,1,...,1296.0,1296.0,0.008355,0.492594,0.492594,19,FALSE,FALSE,0.000000,3
1093,2352,2352,1701b6bc2424cd8db843ffb4517bb1239de46198,1352739200,0,0,7,4,1,1,...,70.0,72.0,0.022727,0.268939,0.276515,11,FALSE,FALSE,0.000000,3
7883,16902,16902,a0546fd3f42c37e8cd6e4e9b70d59ae1e689b4b7,1376471127,1,0,133,12,2,2,...,819.0,819.0,0.050265,0.145133,0.145133,145,TRUE,FALSE,0.006897,6
2671,5618,5618,3586f829b099a163639f2f95d14f626bfd5d1ae7,1352198683,0,0,71,131,5,5,...,97.0,118.0,0.167286,0.364312,0.442379,202,FALSE,FALSE,0.000000,3
3065,6438,6438,3d9f0ed000ebe119cb7e15f957ee85b668086fea,1323203553,0,0,47,13,5,5,...,98.0,124.0,0.097179,0.310345,0.391850,60,FALSE,FALSE,0.000000,0
3827,8142,8142,4dceb53a242a82b49df2777eeb8396395ada6761,1353981580,0,0,29,4,2,2,...,453.0,453.0,0.723361,0.930328,0.930328,33,FALSE,FALSE,0.000000,3
6909,14770,14770,8bac8741cde9387c132fb9f09fef2fd5461d567e,1373916974,0,0,5,2,1,1,...,356.0,433.0,0.231312,0.503526,0.612130,7,FALSE,FALSE,0.000000,6
4200,8936,8936,558e685d71ccdd2ddbdaac86fa47bddb14ed3db1,1377640543,0,0,2,6,1,1,...,1741.0,2444.0,0.152334,0.297829,0.418020,8,FALSE,FALSE,0.000000,6
7364,15761,15761,950e700b4fe69f001b228d11c8014ebbdfa7b10b,1349777160,0,0,17,4,2,2,...,438.0,476.0,0.221825,0.785331,0.853309,21,FALSE,FALSE,0.000000,3
3589,7584,7584,4885aa28706a1858f4fc51a0d2c661eec05139c0,1369837260,0,0,23,10,3,3,...,1588.0,2097.0,0.351046,0.339095,0.447717,33,FALSE,FALSE,0.000000,5
4847,10285,10285,62278171b99664a19dfa55d9e0acbb2be38f692c,1363671004,0,0,1,1,1,1,...,176.0,176.0,0.475806,0.475806,0.475806,2,FALSE,FALSE,0.000000,5
7492,16036,16036,979c999464975f869b9ee05792e31c784aaf08f4,1329163211,0,0,1,0,1,1,...,244.0,282.0,0.067470,0.295181,0.340964,1,FALSE,FALSE,0.000000,0
6711,14355,14355,87b2548e8845fa9710a1b89a642d06fd28148572,1368805379,2,0,51,22,2,2,...,369.0,369.0,0.005092,0.376782,0.376782,73,TRUE,FALSE,0.027397,5
5020,10647,10647,6577ec0b00c9fbae5931a1ed036763588e010019,1376535980,0,0,40,2,2,2,...,713.0,715.0,0.015421,0.846975,0.849348,42,FALSE,FALSE,0.000000,6
8136,17462,17462,a590d086ff5e6fdb0fbe88dd27a9bbe619e4fa85,1340835359,0,0,1,1,1,1,...,724.0,843.0,0.122286,0.414286,0.482286,2,FALSE,FALSE,0.000000,2
1632,3452,3452,21acdc54937c8a79df316bf9f5e6ff5fdac316dc,1391964723,0,0,8,11,2,2,...,547.0,876.0,0.053359,0.074976,0.119989,19,FALSE,FALSE,0.000000,8
7493,16039,16039,97a47ae62a1f0c778fab824d3bf48636dd5c832f,1376273264,0,0,6,6,1,1,...,1919.0,1924.0,0.001963,0.342612,0.343505,12,FALSE,FALSE,0.000000,6
3496,7416,7416,46ece662345211fc9dd902c234e03dcbbe296979,1343926591,0,0,9,18,2,2,...,929.0,1049.0,0.125414,0.440133,0.496924,27,FALSE,FALSE,0.000000,2
5392,11448,11448,6cac288a87d0eba448394ac39981bf9f63238125,1327091222,0,0,86,13,4,3,...,117.0,117.0,0.049645,0.836879,0.836879,99,FALSE,FALSE,0.000000,0
6903,14759,14759,8b92df9febce5bc45fa57bb347779b9644a38c44,1345690808,0,0,3,3,3,1,...,78.0,78.0,0.091837,0.806122,0.806122,6,FALSE,FALSE,0.000000,2

In [154]:
train_df = bal_lowfile.iloc[:6000,:]
val_df = bal_lowfile.iloc[6000:6750, :]
test_df = bal_lowfile.iloc[6750:,:]

In [30]:
train_df = df2[df2['commit_id'].isin(train_df['commit_id'])]
val_df = df2[df2['commit_id'].isin(val_df['commit_id'])]
test_df = df2[df2['commit_id'].isin(test_df['commit_id'])]

In [31]:
train_df.to_csv('../data/ballowfiletrain.csv', index=False)
val_df.to_csv('../data/ballowfileval.csv', index=False)
test_df.to_csv('../data/ballowfiletest.csv', index=False)

In [81]:
alldf = df1.sample(frac=1)
alldf.head(20)

,Unnamed: 0,X,commit_id,author_date,bugcount,fixcount,la,ld,nf,nd,...,rsexp,osexp,asawr,rsawr,osawr,churn,buggy,fix,bugdens,strata
3656,7753,7753,4a3104c6aeeb4368b298b81b4e5e6270801ea775,1337977443,0,0,32,8,3,1,...,677.0,838.0,0.196921,0.434894,0.538165,40,FALSE,FALSE,0.000000,1
6595,14098,14098,85475b2fbd975bab54d69e7b6cf5c489f01c15e6,1376952603,0,0,2,2,1,1,...,248.0,255.0,0.039443,0.577726,0.593968,4,FALSE,FALSE,0.000000,6
8592,18457,18457,af8972a21b1f6da7ef470bae52fdbd47c3a5afeb,1390718280,0,0,54,0,2,2,...,1662.0,1689.0,0.007827,0.232425,0.236198,54,FALSE,FALSE,0.000000,8
7992,17143,17143,a2c64cc3dfd287091007c6ddc654367eb04457fe,1360013340,0,0,43,0,1,1,...,1786.0,1794.0,0.006386,0.475519,0.477648,43,FALSE,FALSE,0.000000,4
6296,13482,13482,7f456ef35f15ca9f1d23f9206f0037ef6c6d49c5,1387501056,0,0,18,2,1,1,...,NaN,NaN,0.000000,0.000000,0.000000,20,FALSE,FALSE,0.000000,8
11553,25050,25050,eeb97eb16c1f56cecca83700ab28a594ed27ab1f,1392738697,0,1,10,4,2,2,...,3466.0,3497.0,0.025085,0.470102,0.474305,14,FALSE,TRUE,0.000000,8
8028,17220,17220,a37b4133b75439bfcdb0a2475d41752445adaa2a,1379496953,1,0,57,64,15,10,...,315.0,316.0,0.003333,0.526667,0.528333,121,TRUE,FALSE,0.008264,7
2780,5848,5848,3801a4d2f4c59dbfda49131ddde22fcb3976d651,1363906110,0,0,6,1,1,1,...,1354.0,2746.0,0.454847,0.321166,0.651102,7,FALSE,FALSE,0.000000,5
474,1029,1029,0a461a5b8a7b76229c9ad3f116fb8d255aea5b06,1331951168,0,0,441,21,2,2,...,72.0,72.0,0.285714,0.948052,0.948052,462,FALSE,FALSE,0.000000,1
6398,13684,13684,8179007c804d88595a346ad993791fd21a2a9c01,1362559893,0,0,70,2,3,3,...,367.0,367.0,0.002532,0.931646,0.931646,72,FALSE,FALSE,0.000000,5
6438,13757,13757,82187a476e000733a01abdb6f7399cf56500ca7b,1343402850,0,0,87,0,4,2,...,139.0,142.0,0.040230,0.804598,0.821839,87,FALSE,FALSE,0.000000,2
8681,18662,18662,b15b197b6f73ea5e71a3ec28afa598fb4dacff0d,1388673885,0,0,78,0,2,2,...,1638.0,1638.0,0.000432,0.235759,0.235759,78,FALSE,FALSE,0.000000,8
9475,20511,20511,c2d8b0b27c92a819074d6bc619510c563150c01e,1373472661,0,0,1,1,1,1,...,473.0,675.0,0.305400,0.441341,0.629423,2,FALSE,FALSE,0.000000,6
9743,21096,21096,c867e089b1a945bd4181cbe651ad12649b345674,1329339609,0,0,19,2,3,2,...,373.0,376.0,0.016110,0.430380,0.433832,21,FALSE,FALSE,0.000000,0
3295,6946,6946,425b100a380c3d329cc3f063ab7e1705680af030,1384174529,0,0,20,20,2,1,...,3039.0,3369.0,0.092364,0.463344,0.513641,40,FALSE,FALSE,0.000000,7
4519,9588,9588,5bea9a554cd5764b0fe7ec661f1960412b3b6abf,1382000660,0,0,4,2,2,1,...,422.0,423.0,0.002727,0.384545,0.385455,6,FALSE,FALSE,0.000000,7
7025,15040,15040,8e304db5497d2b31d711fc16433b624d5c1d13c6,1379089366,1,0,52,0,2,2,...,2106.0,2164.0,0.019205,0.348841,0.358444,52,TRUE,FALSE,0.019231,7
1038,2227,2227,15c04f6869c3ae4bb8906b3783551df0e718d462,1391194732,0,1,1,2,1,1,...,398.0,422.0,0.087025,0.631329,0.669304,3,FALSE,TRUE,0.000000,8
2944,6189,6189,3b4016184f83c71158d41db9a26e6043d9ae1506,1358369224,0,0,31,0,2,2,...,1176.0,2103.0,0.384958,0.327855,0.586072,31,FALSE,FALSE,0.000000,4
7564,16210,16210,99456bd690445443ae05c0d4fe1ec43ba6090f6f,1342181233,0,0,22,2,1,1,...,1.0,1.0,0.040000,0.080000,0.080000,24,FALSE,FALSE,0.000000,2

In [82]:
train_df = alldf.iloc[2400:,:]
val_df = alldf.iloc[:1200, :]
test_df = alldf.iloc[1200:2400,:]

In [85]:
train_df[train_df['buggy'] == 'TRUE']

,Unnamed: 0,X,commit_id,author_date,bugcount,fixcount,la,ld,nf,nd,...,rsexp,osexp,asawr,rsawr,osawr,churn,buggy,fix,bugdens,strata
2389,5036,5036,3005d16fe3588bdf4b928e79f640b991df9fae3b,1345060612,17,0,1617,14,12,9,...,124.0,192.0,0.402027,0.422297,0.652027,1631,TRUE,FALSE,0.010423,2
10342,22398,22398,d527eda20b030c99239477af51a73537c3c781d4,1360159309,1,0,76,9,6,6,...,2188.0,2579.0,0.185695,0.579868,0.683444,85,TRUE,FALSE,0.011765,4
1539,3270,3270,1fde5a4fbc73a31453f0fe288a0b4a929d7f3026,1364242177,1,0,60,9,3,3,...,407.0,407.0,0.916854,0.916854,0.916854,69,TRUE,FALSE,0.014493,5
1516,3225,3225,1f7be20a91c41af7e2b388469f99890022ddb22e,1353449656,1,0,35,24,7,1,...,118.0,221.0,0.532143,0.425000,0.792857,59,TRUE,FALSE,0.016949,3
112,255,255,027b78a214e1f7ab7bbda342a024cb13dae8944d,1355868993,5,0,902,0,4,2,...,231.0,231.0,0.011719,0.906250,0.906250,902,TRUE,FALSE,0.005543,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3846,8180,8180,4e2596d1cff8d4859d443463f99dc65a3fbc8187,1377002274,2,0,39,0,2,2,...,1788.0,1791.0,0.001739,0.311130,0.311652,39,TRUE,FALSE,0.051282,6
5338,11331,11331,6bb5c7302f67d130af2c92da0e1b98164ca46697,1379861504,1,0,61,4,2,2,...,1505.0,1812.0,0.068457,0.246643,0.296921,65,TRUE,FALSE,0.015385,7
6422,13727,13727,81e87775c8ab56c4b4c7b5048041caef7670bc9d,1372230812,4,0,372,19,6,4,...,21.0,22.0,0.178571,0.785714,0.821429,391,TRUE,FALSE,0.010230,6
4034,8591,8591,52291d6554f2275b228d7039d222bccfab164106,1376325998,1,0,220,43,3,3,...,188.0,194.0,0.018182,0.229091,0.236364,263,TRUE,FALSE,0.003802,6
7939,17041,17041,a1b6ea5d03f5324f31fc21aa9e9e019318238adf,1374833227,1,0,71,17,5,2,...,1633.0,1633.0,0.000185,0.302201,0.302201,88,TRUE,FALSE,0.011364,6

In [86]:
train_df = df2[df2['commit_id'].isin(train_df['commit_id'])]
val_df = df2[df2['commit_id'].isin(val_df['commit_id'])]
test_df = df2[df2['commit_id'].isin(test_df['commit_id'])]

In [87]:
train_df.to_csv('../../ruok/data/alltrain.csv', index=False)
val_df.to_csv('../../ruok/data/allval.csv', index=False)
test_df.to_csv('../../ruok/data/alltest.csv', index=False)

In [32]:
import json

with open('../data/source_codes_lowfiletrain.json') as file:
    traindic = json.load(file)

In [33]:
cs = []
for c, files in traindic.items():
    if len(files) != df1[df1['commit_id'] == c]['nf'].values[0]:
        cs.append(c)

In [34]:
print(len(cs))
print()
cs[:10]

988

['00592cfa0b90c66682be2bc31428277c35a35c48',
 '006254c5050176c9b569007f6ef7203e6067215d',
 '00ac2c725097567ab090079db799e70a6f549794',
 '00f9d718d2d746ca8664290b79c852bb91fca1cc',
 '010f130acee3e5253a0c687aaf6ee8849e099982',
 '01a25e9890b957aef307b1bda22603f72cac12bf',
 '01e6f7575a3c75bd73e297f3d9d003292e0a0e1e',
 '026583e60e9ec2b83049e8ceee16f182560d2562',
 '026846c7b5a9f985a9218725a5ad4ed391a2aef0',
 '03a028e62157a3f5160d60c146ba52cd0ca79dbc']

In [44]:
len(traindic['026846c7b5a9f985a9218725a5ad4ed391a2aef0'])

54

In [41]:
traindic['00ac2c725097567ab090079db799e70a6f549794']

[['Authors',
  "Adam Gandelman <adam.gandelman@canonical.com>\nAlex Meade <alex.meade@rackspace.com>\nAndrey Brindeyev <abrindeyev@griddynamics.com>\nBrian Lamar <brian.lamar@rackspace.com>\nBrian Waldon <brian.waldon@rackspace.com>\nChristopher MacGown <chris@slicehost.com>\nCory Wright <corywright@gmail.com>\nDan Prince <dan.prince@rackspace.com>\nDonal Lafferty <donal.lafferty@citrix.com>\nEldar Nugaev <enugaev@griddynamics.com>\nEwan Mellor <ewan.mellor@citrix.com>\nIsaku Yamahata <yamahata@valinux.co.jp>\nJason Koelker <jason@koelker.net>\nJay Pipes <jaypipes@gmail.com>\nJames E. Blair <jeblair@hp.com>\nJinwoo 'Joseph' Suh <jsuh@isi.edu>\nJohannes Erdfelt <johannes.erdfelt@rackspace.com>\nJosh Durgin <josh.durgin@dreamhost.com>\nJosh Kearney <josh@jk0.org>\nJustin Shepherd <jshepher@rackspace.com>\nKen Pepple <ken.pepple@gmail.com>\nKevin L. Mitchell <kevin.mitchell@rackspace.com>\nLorin Hochstein <lorin@isi.edu>\nMark McLoughlin <markmc@redhat.com>\nMatt Dietz <matt.dietz@rackspace.com>\nMike Lundy <mike@pistoncloud.com>\nMonty Taylor <mordred@inaugust.com>\nPádraig Brady <P@draigBrady.com>\nPaul Bourke <paul-david.bourke@hp.com>\nRick Clark <rick@openstack.org>\nRick Harris <rconradharris@gmail.com>\nSoren Hansen <soren.hansen@rackspace.com>\nStuart McLaren <stuart.mclaren@hp.com>\nTaku Fukushima <tfukushima@dcl.info.waseda.ac.jp>\nThierry Carrez <thierry@openstack.org>\nTom Hancock <tom.hancock@hp.com>\nWilliam Wolf <throughnothing@gmail.com>\nVishvananda Ishaya <vishvananda@gmail.com>\nYuriy Taraday <yorik.sar@gmail.com>\n",
  "Adam Gandelman <adam.gandelman@canonical.com>\nAlex Meade <alex.meade@rackspace.com>\nAndrey Brindeyev <abrindeyev@griddynamics.com>\nBrian Lamar <brian.lamar@rackspace.com>\nBrian Waldon <brian.waldon@rackspace.com>\nChristopher MacGown <chris@slicehost.com>\nCory Wright <corywright@gmail.com>\nDan Prince <dan.prince@rackspace.com>\nDonal Lafferty <donal.lafferty@citrix.com>\nEldar Nugaev <enugaev@griddynamics.com>\nEwan Mellor <ewan.mellor@citrix.com>\nIsaku Yamahata <yamahata@valinux.co.jp>\nJason Koelker <jason@koelker.net>\nJay Pipes <jaypipes@gmail.com>\nJames E. Blair <jeblair@hp.com>\nJinwoo 'Joseph' Suh <jsuh@isi.edu>\nJohannes Erdfelt <johannes.erdfelt@rackspace.com>\nJosh Durgin <josh.durgin@dreamhost.com>\nJosh Kearney <josh@jk0.org>\nJustin Shepherd <jshepher@rackspace.com>\nKen Pepple <ken.pepple@gmail.com>\nKevin L. Mitchell <kevin.mitchell@rackspace.com>\nLorin Hochstein <lorin@isi.edu>\nMajor Hayden <major@mhtx.net>\nMark McLoughlin <markmc@redhat.com>\nMatt Dietz <matt.dietz@rackspace.com>\nMike Lundy <mike@pistoncloud.com>\nMonty Taylor <mordred@inaugust.com>\nPádraig Brady <P@draigBrady.com>\nPaul Bourke <paul-david.bourke@hp.com>\nRick Clark <rick@openstack.org>\nRick Harris <rconradharris@gmail.com>\nSoren Hansen <soren.hansen@rackspace.com>\nStuart McLaren <stuart.mclaren@hp.com>\nTaku Fukushima <tfukushima@dcl.info.waseda.ac.jp>\nThierry Carrez <thierry@openstack.org>\nTom Hancock <tom.hancock@hp.com>\nWilliam Wolf <throughnothing@gmail.com>\nVishvananda Ishaya <vishvananda@gmail.com>\nYuriy Taraday <yorik.sar@gmail.com>\n"],
 ['glance/tests/unit/test_auth.py',
  '# vim: tabstop=4 shiftwidth=4 softtabstop=4\n\n# Copyright 2011 OpenStack, LLC\n# All Rights Reserved.\n#\n#    Licensed under the Apache License, Version 2.0 (the "License"); you may\n#    not use this file except in compliance with the License. You may obtain\n#    a copy of the License at\n#\n#         http://www.apache.org/licenses/LICENSE-2.0\n#\n#    Unless required by applicable law or agreed to in writing, software\n#    distributed under the License is distributed on an "AS IS" BASIS, WITHOUT\n#    WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the\n#    License for the specific language governing permissions and limitations\n#    under the License.\n\nimport json\nimport stubout\nimport unittest\nimport webob\n\nfrom glance.common import auth\nfrom glance.common import exception\n\n\nclass FakeResponse(object):\n    """\n    Simple class that masks the inconsistency between\n    webob.Response.status_int and httplib.Response.status\n    """\n    def __init__(self, resp):\n        self.resp = resp\n\n    def __getitem__(self, key):\n        return self.resp.headers.get(key)\n\n    @property\n    def status(self):\n        return self.resp.status_int\n\n\nclass TestKeystoneAuthPlugin(unittest.TestCase):\n    """Test that the Keystone auth plugin works properly"""\n\n    def setUp(self):\n        self.stubs = stubout.StubOutForTesting()\n\n    def tearDown(self):\n        self.stubs.UnsetAll()\n\n    def test_required_creds(self):\n        """\n        Test that plugin created without required\n        credential pieces raises an exception\n        """\n        bad_creds = [\n            {},  # missing everything\n            {\n                \'username\': \'user1\',\n                \'password\': \'pass\'\n            },  # missing auth_url\n            {\n                \'password\': \'pass\',\n                \'auth_url\': \'http://localhost/v1\'\n            },  # missing username\n            {\n                \'username\': \'user1\',\n                \'auth_url\': \'http://localhost/v1\'\n            },  # missing password\n            {\n                \'username\': \'user1\',\n                \'password\': \'pass\',\n                \'auth_url\': \'http://localhost/v2.0/\'\n            }  # v2.0: missing tenant\n        ]\n        for creds in bad_creds:\n            try:\n                plugin = auth.KeystoneStrategy(creds)\n                plugin.authenticate()\n            except exception.MissingCredentialError:\n                continue  # Expected\n            self.fail("Failed to raise correct exception when supplying bad "\n                      "credentials: %r" % creds)\n\n    def test_invalid_auth_url(self):\n        """\n        Test invalid auth URL returns a 404/400 in authenticate().\n        \'404\' if an attempt is made to access an invalid url on a\n        server, \'400\' if an attempt is made to access a url on a\n        non-existent server.\n        """\n        bad_creds = [\n            {\n                \'username\': \'user1\',\n                \'auth_url\': \'http://localhost/badauthurl/\',\n                \'password\': \'pass\'\n            },  # v1 Keystone\n            {\n                \'username\': \'user1\',\n                \'auth_url\': \'http://localhost/badauthurl/v2.0/\',\n                \'password\': \'pass\',\n                \'tenant\': \'tenant1\'\n            }  # v2 Keystone\n        ]\n\n        for creds in bad_creds:\n            try:\n                plugin = auth.KeystoneStrategy(creds)\n                plugin.authenticate()\n            except exception.AuthUrlNotFound:\n                continue  # Expected if web server running\n            except exception.AuthBadRequest:\n                continue  # Expected if no web server running\n            self.fail("Failed to raise Exception when supplying bad "\n                      "credentials: %r" % creds)\n\n    def test_v1_auth(self):\n        """Test v1 auth code paths"""\n        def fake_do_request(cls, url, method, headers=None, body=None):\n            if url.find("2.0") != -1:\n                self.fail("Invalid v1.0 token path (%s)" % url)\n            headers = headers or {}\n\n            resp = webob.Response()\n\n            if (headers.get(\'X-Auth-User\') != \'user1\' or\n                headers.get(\'X-Auth-Key\') != \'pass\'):\n                resp.status = 401\n            else:\n                resp.status = 200\n\n            return FakeResponse(resp), ""\n\n        self.stubs.Set(auth.KeystoneStrategy, \'_do_request\', fake_do_request)\n\n        unauthorized_creds = [\n            {\n                \'username\': \'wronguser\',\n                \'auth_url\': \'http://localhost/badauthurl/\',\n                \'password\': \'pass\'\n            },  # wrong username\n            {\n                \'username\': \'user1\',\n                \'auth_url\': \'http://localhost/badauthurl/\',\n                \'password\': \'badpass\'\n            },  # bad password...\n        ]\n\n        for creds in unauthorized_creds:\n            try:\n                plugin = auth.KeystoneStrategy(creds)\n                plugin.authenticate()\n            except exception.NotAuthorized:\n                continue  # Expected\n            self.fail("Failed to raise NotAuthorized when supplying bad "\n                      "credentials: %r" % creds)\n\n        good_creds = [\n            {\n                \'username\': \'user1\',\n                \'auth_url\': \'http://localhost/redirect/\',\n                \'password\': \'pass\'\n            }\n        ]\n\n        for creds in good_creds:\n            plugin = auth.KeystoneStrategy(creds)\n            self.assertIsNone(plugin.authenticate())\n\n    def test_v2_auth(self):\n        """Test v2 auth code paths"""\n        def fake_do_request(cls, url, method, headers=None, body=None):\n            if (not url.rstrip(\'/\').endswith(\'v2.0/tokens\') or\n                url.count("2.0") != 1):\n                self.fail("Invalid v2.0 token path (%s)" % url)\n\n            creds = json.loads(body)[\'auth\']\n            username = creds[\'passwordCredentials\'][\'username\']\n            password = creds[\'passwordCredentials\'][\'password\']\n            tenant = creds[\'tenantName\']\n            resp = webob.Response()\n\n            if (username != \'user1\' or password != \'pass\' or\n                tenant != \'tenant-ok\'):\n                resp.status = 401\n            else:\n                resp.status = 200\n                # Mock up a token to satisfy v2 auth\n                body = {\n                    "access": {\n                        "token": {\n                            "expires": "2010-11-23T16:40:53.321584",\n                            "id": "5c7f8799-2e54-43e4-851b-31f81871b6c",\n                            "tenant": {"id": "1", "name": "tenant-ok"}\n                        },\n                        "serviceCatalog": [{\n                            "endpoints": [{\n                                "region": "RegionOne",\n                                "adminURL": "http://localhost:9292",\n                                "internalURL": "http://localhost:9292",\n                                "publicURL": "http://localhost:9292"\n                            }],\n                            "type": "image",\n                            "name": "glance"\n                        }],\n                        "user": {\n                            "id": "2",\n                            "roles": [{\n                                "tenantId": "1",\n                                "id": "1",\n                                "name": "Admin"\n                            }],\n                            "name": "joeadmin"\n                        }\n                    }\n                }\n\n            return FakeResponse(resp), json.dumps(body)\n\n        self.stubs.Set(auth.KeystoneStrategy, \'_do_request\', fake_do_request)\n\n        unauthorized_creds = [\n            {\n                \'username\': \'wronguser\',\n                \'auth_url\': \'http://localhost/v2.0\',\n                \'password\': \'pass\',\n                \'tenant\': \'tenant-ok\'\n            },  # wrong username\n            {\n                \'username\': \'user1\',\n                \'auth_url\': \'http://localhost/v2.0\',\n                \'password\': \'badpass\',\n                \'tenant\': \'tenant-ok\'\n            },  # bad password...\n            {\n                \'username\': \'user1\',\n                \'auth_url\': \'http://localhost/v2.0\',\n                \'password\': \'pass\',\n                \'tenant\': \'carterhayes\'\n            },  # bad tenant...\n        ]\n\n        for creds in unauthorized_creds:\n            try:\n                plugin = auth.KeystoneStrategy(creds)\n                plugin.authenticate()\n            except exception.NotAuthorized:\n                continue  # Expected\n            self.fail("Failed to raise NotAuthorized when supplying bad "\n                      "credentials: %r" % creds)\n\n        good_creds = [\n            {\n                \'username\': \'user1\',\n                \'auth_url\': \'http://localhost/v2.0/\',\n                \'password\': \'pass\',\n                \'tenant\': \'tenant-ok\'\n            },  # auth_url with trailing \'/\'\n            {\n                \'username\': \'user1\',\n                \'auth_url\': \'http://localhost/v2.0\',\n                \'password\': \'pass\',\n                \'tenant\': \'tenant-ok\'\n            }   # auth_url without trailing \'/\'\n        ]\n\n        for creds in good_creds:\n            plugin = auth.KeystoneStrategy(creds)\n            self.assertIsNone(plugin.authenticate())\n',

In [45]:
df1[df1['commit_id'] == '026846c7b5a9f985a9218725a5ad4ed391a2aef0']

,Unnamed: 0,X,commit_id,author_date,bugcount,fixcount,la,ld,nf,nd,...,rsexp,osexp,asawr,rsawr,osawr,churn,buggy,fix,bugdens,strata
104,240,240,026846c7b5a9f985a9218725a5ad4ed391a2aef0,1349297345,0,0,2,1,1,1,...,NaN,NaN,0.0,0.0,0.0,3,FALSE,FALSE,0.0,3

In [1]:
import json

with open('../data/subtrees_pydriller.json') as file:
    subtrees = json.load(file)
    
len(subtrees)

9458

In [2]:
files = []
onenode = []
for k, v in subtrees.items():
    for f in v:
        files.append(f[0])
        if f[1][0] == ['None'] or f[2][0] == ['None']:
            onenode.append(f[0] + '@' + k)
            
print(len(onenode), '\tfiles whose before or after (not both) has no red nodes (and filled with None)')
print(len(files), '\ttotal number of files')

7298 	files whose before or after (not both) has no red nodes (and filled with None)
29019 	total number of files

In [3]:
commit_nfiles = {k: len(v) for k, v in subtrees.items()}

In [4]:
import pandas as pd

df1 = pd.DataFrame(commit_nfiles.items(), columns=['commit_id', 'nf'])
df1

                                     commit_id  nf
0     4c202523890d805c8e42802117d85d6f6e2cddae   3
1     fe23db33801fa72665e480534d070ddae4a9c451   5
2     2263cf7db7672699e29a76d68dbe91cad2071b86   4
3     0cd8f34eed28a2c1a77d56fe4b0e00816ef48780   3
4     8d8903f466cd7d4270e46ad896817fe94c99b575   2
...                                        ...  ..
9453  70e0a246f9b3d2920dd80766240e8c23f245fe95   5
9454  0c151d7d7ea00627fad182898958db55b1fef3fd   3
9455  345d8f7766aa06fa6654382efc480da493a3f2c8   4
9456  f338a5c870a36e493f8c818fa783942d1e0565a4   1
9457  2365a3fb5fa1b7e453ea6f275e95cc9255cb0581  48

[9458 rows x 2 columns]

In [5]:
min(commit_nfiles.values())

1

In [6]:
df2 = pd.read_csv('../data/openstack.csv', dtype={'self':str, 'revd': str})
df2

,commit_id,author_date,bugcount,fixcount,la,ld,nf,nd,ns,ent,...,oexp,arexp,rrexp,orexp,asexp,rsexp,osexp,asawr,rsawr,osawr
0,000011bb2981a606ab1fa546b716c149758c7ea1,1297922998,NaN,NaN,0,6,1,1,1,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,000174461a96ca70c76c8f3a85d9bf25fe673a2d,1318600977,NaN,NaN,15,1,2,2,1,0.988699,...,86.0,3.0,84.0,85.0,2.0,39.0,39.0,0.035294,0.470588,0.470588
2,0002d9ea9690cc82f7fac05881c30bfd9581702b,1294934322,NaN,NaN,89,32,1,1,1,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0002eb7affbc0983ee9fc317aa79c1b62dd3d5c3,1308159044,NaN,NaN,1,0,1,1,1,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0004f6bc6c772458f45027a76b1aa4fb31247264,1311875567,NaN,NaN,1,1,1,1,1,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26850,fff9b68699977a7cbe6c6ee6ae918a47133d28e1,1393573139,NaN,NaN,0,0,1,1,1,0.000000,...,1477.0,590.0,883.0,1275.0,215.0,574.0,672.0,0.246294,0.655644,0.767389
26851,fffa02ac32055650b2bfffff090ec7d52c86291a,1284125576,NaN,NaN,4,2,2,2,1,0.918296,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26852,fffaf26ced9bb9c162797c7264e7797955301bb4,1336002989,NaN,NaN,0,1,1,1,1,0.000000,...,751.0,498.0,381.0,751.0,473.0,334.0,687.0,0.330084,0.233287,0.479109
26853,fffc95c3ccb01333becc86e0cb4c67cf5edf9725,1373985563,NaN,NaN,235,12,4,4,2,0.899783,...,359.0,1.0,318.0,318.0,1.0,352.0,352.0,0.003656,0.645338,0.645338
26854,fffcaea176b785c9715a180f6a629708db16536c,1360536307,NaN,NaN,1,1,1,1,1,0.000000,...,1301.0,248.0,1115.0,1275.0,231.0,1053.0,1199.0,0.060797,0.276205,0.314465

In [7]:
merged = pd.merge(df1, df2, on='commit_id', suffixes=(None, '_y')).drop(columns=['nf_y'])
merged

,commit_id,nf,author_date,bugcount,fixcount,la,ld,nd,ns,ent,...,oexp,arexp,rrexp,orexp,asexp,rsexp,osexp,asawr,rsawr,osawr
0,4c202523890d805c8e42802117d85d6f6e2cddae,3,1336074867,1.0,NaN,173,252,6,1,0.664576,...,13.0,4.0,10.0,13.0,0.0,1.0,1.0,0.333333,0.666667,0.666667
1,fe23db33801fa72665e480534d070ddae4a9c451,5,1336582954,NaN,NaN,124,68,9,1,0.836364,...,17.0,14.0,6.0,17.0,2.0,1.0,2.0,0.600000,0.400000,0.600000
2,2263cf7db7672699e29a76d68dbe91cad2071b86,4,1338416681,NaN,NaN,15,11,5,1,0.923573,...,57.0,26.0,31.0,57.0,0.0,7.0,7.0,0.083333,0.666667,0.666667
3,0cd8f34eed28a2c1a77d56fe4b0e00816ef48780,3,1338569174,NaN,NaN,30,30,2,2,0.885241,...,660.0,30.0,660.0,660.0,9.0,23.0,23.0,0.108696,0.260870,0.260870
4,8d8903f466cd7d4270e46ad896817fe94c99b575,2,1338490982,NaN,NaN,166,15,5,1,0.713529,...,55.0,27.0,29.0,55.0,1.0,8.0,8.0,0.153846,0.692308,0.692308
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9453,70e0a246f9b3d2920dd80766240e8c23f245fe95,5,1389872032,NaN,NaN,119,57,4,1,0.351312,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9454,0c151d7d7ea00627fad182898958db55b1fef3fd,3,1390916987,NaN,NaN,4,10,4,1,0.741916,...,291.0,10.0,285.0,290.0,6.0,172.0,173.0,0.006189,0.152962,0.153846
9455,345d8f7766aa06fa6654382efc480da493a3f2c8,4,1381261286,NaN,NaN,157,49,2,1,0.699994,...,608.0,29.0,451.0,476.0,3.0,430.0,430.0,0.004073,0.438900,0.438900
9456,f338a5c870a36e493f8c818fa783942d1e0565a4,1,1389258796,NaN,NaN,2,2,1,1,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9457,2365a3fb5fa1b7e453ea6f275e95cc9255cb0581,48,1393283348,NaN,NaN,1837,1839,11,1,0.780573,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
cols = merged.columns.tolist()
c = cols[1]
cols.remove(c)
cols.insert(6, c)
cols == df2.columns.tolist()

True

In [9]:
merged = merged[cols]
merged

,commit_id,author_date,bugcount,fixcount,la,ld,nf,nd,ns,ent,...,oexp,arexp,rrexp,orexp,asexp,rsexp,osexp,asawr,rsawr,osawr
0,4c202523890d805c8e42802117d85d6f6e2cddae,1336074867,1.0,NaN,173,252,3,6,1,0.664576,...,13.0,4.0,10.0,13.0,0.0,1.0,1.0,0.333333,0.666667,0.666667
1,fe23db33801fa72665e480534d070ddae4a9c451,1336582954,NaN,NaN,124,68,5,9,1,0.836364,...,17.0,14.0,6.0,17.0,2.0,1.0,2.0,0.600000,0.400000,0.600000
2,2263cf7db7672699e29a76d68dbe91cad2071b86,1338416681,NaN,NaN,15,11,4,5,1,0.923573,...,57.0,26.0,31.0,57.0,0.0,7.0,7.0,0.083333,0.666667,0.666667
3,0cd8f34eed28a2c1a77d56fe4b0e00816ef48780,1338569174,NaN,NaN,30,30,3,2,2,0.885241,...,660.0,30.0,660.0,660.0,9.0,23.0,23.0,0.108696,0.260870,0.260870
4,8d8903f466cd7d4270e46ad896817fe94c99b575,1338490982,NaN,NaN,166,15,2,5,1,0.713529,...,55.0,27.0,29.0,55.0,1.0,8.0,8.0,0.153846,0.692308,0.692308
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9453,70e0a246f9b3d2920dd80766240e8c23f245fe95,1389872032,NaN,NaN,119,57,5,4,1,0.351312,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9454,0c151d7d7ea00627fad182898958db55b1fef3fd,1390916987,NaN,NaN,4,10,3,4,1,0.741916,...,291.0,10.0,285.0,290.0,6.0,172.0,173.0,0.006189,0.152962,0.153846
9455,345d8f7766aa06fa6654382efc480da493a3f2c8,1381261286,NaN,NaN,157,49,4,2,1,0.699994,...,608.0,29.0,451.0,476.0,3.0,430.0,430.0,0.004073,0.438900,0.438900
9456,f338a5c870a36e493f8c818fa783942d1e0565a4,1389258796,NaN,NaN,2,2,1,1,1,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9457,2365a3fb5fa1b7e453ea6f275e95cc9255cb0581,1393283348,NaN,NaN,1837,1839,48,11,1,0.780573,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [80]:
df2[df2['commit_id'] == '70e0a246f9b3d2920dd80766240e8c23f245fe95']

,commit_id,author_date,bugcount,fixcount,la,ld,nf,nd,ns,ent,...,oexp,arexp,rrexp,orexp,asexp,rsexp,osexp,asawr,rsawr,osawr
11917,70e0a246f9b3d2920dd80766240e8c23f245fe95,1389872032,NaN,NaN,119,57,5,4,1,0.351312,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [86]:
merged.to_csv('../data/newopenstack.csv', index=False)

In [10]:
len(merged)

9458

In [35]:
lowfile = merged[merged['nf'] <= 5]
lowfile

,commit_id,author_date,bugcount,fixcount,la,ld,nf,nd,ns,ent,...,oexp,arexp,rrexp,orexp,asexp,rsexp,osexp,asawr,rsawr,osawr
0,4c202523890d805c8e42802117d85d6f6e2cddae,1336074867,1.0,NaN,173,252,3,6,1,0.664576,...,13.0,4.0,10.0,13.0,0.0,1.0,1.0,0.333333,0.666667,0.666667
1,fe23db33801fa72665e480534d070ddae4a9c451,1336582954,NaN,NaN,124,68,5,9,1,0.836364,...,17.0,14.0,6.0,17.0,2.0,1.0,2.0,0.600000,0.400000,0.600000
2,2263cf7db7672699e29a76d68dbe91cad2071b86,1338416681,NaN,NaN,15,11,4,5,1,0.923573,...,57.0,26.0,31.0,57.0,0.0,7.0,7.0,0.083333,0.666667,0.666667
3,0cd8f34eed28a2c1a77d56fe4b0e00816ef48780,1338569174,NaN,NaN,30,30,3,2,2,0.885241,...,660.0,30.0,660.0,660.0,9.0,23.0,23.0,0.108696,0.260870,0.260870
4,8d8903f466cd7d4270e46ad896817fe94c99b575,1338490982,NaN,NaN,166,15,2,5,1,0.713529,...,55.0,27.0,29.0,55.0,1.0,8.0,8.0,0.153846,0.692308,0.692308
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9452,0d95e5316a99b78b4f629a29d862548f87671b43,1387778981,NaN,1.0,161,9,2,3,1,0.899729,...,220.0,5.0,220.0,220.0,5.0,187.0,187.0,0.005561,0.174235,0.174235
9453,70e0a246f9b3d2920dd80766240e8c23f245fe95,1389872032,NaN,NaN,119,57,5,4,1,0.351312,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9454,0c151d7d7ea00627fad182898958db55b1fef3fd,1390916987,NaN,NaN,4,10,3,4,1,0.741916,...,291.0,10.0,285.0,290.0,6.0,172.0,173.0,0.006189,0.152962,0.153846
9455,345d8f7766aa06fa6654382efc480da493a3f2c8,1381261286,NaN,NaN,157,49,4,2,1,0.699994,...,608.0,29.0,451.0,476.0,3.0,430.0,430.0,0.004073,0.438900,0.438900
9456,f338a5c870a36e493f8c818fa783942d1e0565a4,1389258796,NaN,NaN,2,2,1,1,1,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
# number of files in commits with less than 5 changed files.
print(sum([len(v) for k, v in subtrees.items() if len(v) <= 5]))
print(sum([len(v) for k, v in subtrees.items() if len(v) > 5]))

16566
12453

In [26]:
rawdata = pd.read_csv('../data/rawdata.csv')
rawdata

,Unnamed: 0,X,commit_id,author_date,bugcount,fixcount,la,ld,nf,nd,...,rsexp,osexp,asawr,rsawr,osawr,churn,buggy,fix,bugdens,strata
0,6,6,00057454f6609871c2cabf874876d26a6d0d0641,1358516662,0,0,2,2,2,2,...,259.0,259.0,0.003472,0.902778,0.902778,4,False,False,0.000000,4
1,9,9,0007d255d9b20da4e5bbcdbaf5813104fbc092da,1358353428,0,0,9,6,1,1,...,276.0,277.0,0.024735,0.978799,0.982332,15,False,False,0.000000,4
2,11,11,0014f2c828dae5f9481a2bac68fe90a7857b2f59,1377995125,0,0,7,8,2,1,...,257.0,275.0,0.200000,0.573333,0.613333,15,False,False,0.000000,7
3,14,14,001961ed495a33cc944407888a2797f8a600e091,1367268702,0,0,6,0,1,1,...,1922.0,2506.0,0.217116,0.435363,0.567580,6,False,False,0.000000,5
4,15,15,001d36c97eac77410f7dd32290d2142abfb19fa0,1392721937,1,0,12,6,2,2,...,1361.0,2241.0,0.147545,0.184703,0.304041,18,True,False,0.055556,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12369,26847,26847,ffead4c28c4a44d82c730e1a1dcfbedd976b4f0b,1373353424,0,0,49,3,1,1,...,1375.0,1979.0,0.156821,0.264768,0.380989,52,False,False,0.000000,6
12370,26849,26849,fff0f422f647b689bb9a62b1eff2203354a9f885,1362768459,0,0,42,1,3,2,...,1191.0,1719.0,0.151810,0.289531,0.417780,43,False,False,0.000000,5
12371,26850,26850,fff46247c058e69fcdf25e6845c34509f4688c30,1357859567,0,0,73,14,5,2,...,834.0,834.0,0.000857,0.238640,0.238640,87,False,False,0.000000,4
12372,26854,26854,fffc95c3ccb01333becc86e0cb4c67cf5edf9725,1373985563,0,0,235,12,4,4,...,352.0,352.0,0.003656,0.645338,0.645338,247,False,False,0.000000,6
12373,26855,26855,fffcaea176b785c9715a180f6a629708db16536c,1360536307,0,0,1,1,1,1,...,1053.0,1199.0,0.060797,0.276205,0.314465,2,False,False,0.000000,4

In [27]:
rawdata = rawdata[rawdata['commit_id'].isin(lowfile['commit_id'])]
rawdata

,Unnamed: 0,X,commit_id,author_date,bugcount,fixcount,la,ld,nf,nd,...,rsexp,osexp,asawr,rsawr,osawr,churn,buggy,fix,bugdens,strata
0,6,6,00057454f6609871c2cabf874876d26a6d0d0641,1358516662,0,0,2,2,2,2,...,259.0,259.0,0.003472,0.902778,0.902778,4,False,False,0.000000,4
1,9,9,0007d255d9b20da4e5bbcdbaf5813104fbc092da,1358353428,0,0,9,6,1,1,...,276.0,277.0,0.024735,0.978799,0.982332,15,False,False,0.000000,4
3,14,14,001961ed495a33cc944407888a2797f8a600e091,1367268702,0,0,6,0,1,1,...,1922.0,2506.0,0.217116,0.435363,0.567580,6,False,False,0.000000,5
4,15,15,001d36c97eac77410f7dd32290d2142abfb19fa0,1392721937,1,0,12,6,2,2,...,1361.0,2241.0,0.147545,0.184703,0.304041,18,True,False,0.055556,8
5,23,23,0038e3818393415fc9628aef2747136a626682ee,1341252518,0,0,23,17,3,3,...,536.0,536.0,0.015677,0.300672,0.300672,40,False,False,0.000000,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12368,26843,26843,ffe5036fa0e63ccde2d19aa0f425ec43de338dd7,1346348302,0,0,33,1,2,2,...,55.0,55.0,0.009434,0.528302,0.528302,34,False,False,0.000000,3
12369,26847,26847,ffead4c28c4a44d82c730e1a1dcfbedd976b4f0b,1373353424,0,0,49,3,1,1,...,1375.0,1979.0,0.156821,0.264768,0.380989,52,False,False,0.000000,6
12370,26849,26849,fff0f422f647b689bb9a62b1eff2203354a9f885,1362768459,0,0,42,1,3,2,...,1191.0,1719.0,0.151810,0.289531,0.417780,43,False,False,0.000000,5
12371,26850,26850,fff46247c058e69fcdf25e6845c34509f4688c30,1357859567,0,0,73,14,5,2,...,834.0,834.0,0.000857,0.238640,0.238640,87,False,False,0.000000,4
12372,26854,26854,fffc95c3ccb01333becc86e0cb4c67cf5edf9725,1373985563,0,0,235,12,4,4,...,352.0,352.0,0.003656,0.645338,0.645338,247,False,False,0.000000,6

In [28]:
rawdata = rawdata.sample(frac=1)
rawdata.head(20)

,Unnamed: 0,X,commit_id,author_date,bugcount,fixcount,la,ld,nf,nd,...,rsexp,osexp,asawr,rsawr,osawr,churn,buggy,fix,bugdens,strata
1499,3193,3193,1f3ae60f9262265975ac829c673ca8173eef8e88,1346360831,0,0,11,0,2,2,...,101.0,365.0,0.736735,0.208163,0.746939,11,False,False,0.000000,3
4301,9124,9124,574d13f36bbb600eb41e5c416dc6e6beb445c3a9,1377066242,0,0,1,1,1,1,...,1466.0,1475.0,0.002427,0.254290,0.255850,2,False,False,0.000000,6
1627,3440,3440,218c249b0dea094944aead116cf07fc19f029852,1384688129,1,0,69,0,5,5,...,238.0,239.0,0.003650,0.436131,0.437956,69,True,False,0.014493,7
8063,17294,17294,a4196ff553cc85a455f2e05a3abecee64ca8b9d2,1354131574,0,0,2,2,1,1,...,1661.0,1817.0,0.094791,0.537690,0.588159,4,False,False,0.000000,3
3746,7958,7958,4c21f4a82300683f55102f91ae28eca9f81c24e7,1386254662,2,0,32,1,6,5,...,1648.0,1649.0,0.001178,0.242750,0.242897,33,True,False,0.060606,8
12223,26500,26500,fc7c36c9ca94de6bd2481c59d7710566dd4a1ddb,1380534337,1,0,46,192,3,2,...,997.0,997.0,0.004744,0.946869,0.946869,238,True,False,0.004202,7
8341,17921,17921,a9de06cd753b3a972b52d118dbec6f4efd73de4a,1375876292,0,0,22,13,1,1,...,1507.0,1509.0,0.002341,0.271565,0.271925,35,False,False,0.000000,6
10202,22075,22075,d1d6b808afec4a4d74d004dc48832eaaf1b415b1,1376000994,0,0,72,34,6,5,...,733.0,749.0,0.113580,0.906173,0.925926,106,False,False,0.000000,6
1764,3726,3726,244339d8a961d2360417c5c319d87d6c75d78357,1361155780,0,0,1,1,1,1,...,389.0,465.0,0.202462,0.533516,0.637483,2,False,False,0.000000,4
5225,11101,11101,69998343f38b744a6adca77c83a45b3a87d2c7c6,1332901130,0,0,163,166,5,5,...,215.0,232.0,0.538136,0.915254,0.987288,329,False,False,0.000000,1
2425,5114,5114,30bc1ef250f0230a9a1f562cd51b0f57d4a35912,1371051117,0,0,1,1,1,1,...,1195.0,1510.0,0.078119,0.247824,0.313096,2,False,False,0.000000,6
7981,17126,17126,a2a4bdd0607d87448c0c4a0e4c5bbe3f3025a10c,1362092077,0,0,92,2,5,3,...,285.0,285.0,0.002821,0.403385,0.403385,94,False,False,0.000000,5
5676,12060,12060,723486b120f3b2cc106c94191e8de9dc0b4c185f,1373332954,0,0,1,1,1,1,...,333.0,649.0,0.893805,0.492625,0.958702,2,False,False,0.000000,6
7291,15614,15614,939f082cc2fb0b71bb601f80e3ea95d0be355e4c,1329495464,1,0,260,141,13,6,...,427.0,436.0,0.021372,0.481440,0.491564,401,True,False,0.002494,0
8954,19280,19280,b71a4597e5daca229b78e3b3c357f8f3a7229a55,1358191262,0,0,13,5,2,1,...,475.0,723.0,0.085070,0.134085,0.203944,18,False,False,0.000000,4
10080,21811,21811,cf5645fdee2dfb9fc0e34b0355fa8c1e97758ced,1378846868,1,0,194,20,9,3,...,836.0,838.0,0.000667,0.139663,0.139997,214,True,False,0.004673,7
1106,2373,2373,1747cc366dd93534db78ca393ec8e39a7652dc27,1331583219,0,0,89,92,2,2,...,486.0,664.0,0.223498,0.430212,0.587456,181,False,False,0.000000,1
5893,12557,12557,76f6c8402cd69229f8715289453ec8dab34d3b94,1371801895,1,0,118,48,3,3,...,158.0,176.0,0.006833,0.031953,0.035571,166,True,False,0.006024,6
7362,15757,15757,95015ad42a1f6355af095a6dca2ecd39ae2cc735,1343679138,2,0,151,177,9,6,...,1036.0,1347.0,0.226196,0.501208,0.651522,328,True,False,0.006098,2
7975,17114,17114,a2830e5417539980249e3ab12d8bf9538d8956c4,1362078099,0,0,1,1,1,1,...,379.0,379.0,0.916667,0.989583,0.989583,2,False,False,0.000000,5

In [29]:
buggy = rawdata[rawdata['buggy'] == True]['commit_id'].tolist()
len(buggy)

1631

In [32]:
nonbuggy = rawdata[rawdata['buggy'] == False]['commit_id'].tolist()[:(5000-1631)]
len(nonbuggy)

3369

In [36]:
lowfile = lowfile[lowfile['commit_id'].isin(buggy+nonbuggy)]
lowfile

,commit_id,author_date,bugcount,fixcount,la,ld,nf,nd,ns,ent,...,oexp,arexp,rrexp,orexp,asexp,rsexp,osexp,asawr,rsawr,osawr
3,0cd8f34eed28a2c1a77d56fe4b0e00816ef48780,1338569174,NaN,NaN,30,30,3,2,2,0.885241,...,660.0,30.0,660.0,660.0,9.0,23.0,23.0,0.108696,0.260870,0.260870
6,a9c8212f6925b9f4e0feb25621266265968ee1df,1339612715,6.0,NaN,357,39,3,6,1,0.856773,...,702.0,37.0,691.0,702.0,13.0,13.0,18.0,0.736842,0.736842,1.000000
7,263d7b905446e8eaadbcc0501846da7d771e57ad,1341355215,NaN,NaN,266,4914,2,4,1,0.863030,...,50.0,46.0,5.0,50.0,15.0,1.0,15.0,0.761905,0.095238,0.761905
8,b46a0afc37ce2f93bcf3527593eec1097792cae5,1341620933,1.0,NaN,292,821,1,4,1,0.707701,...,57.0,47.0,18.0,57.0,16.0,7.0,18.0,0.739130,0.347826,0.826087
11,9929f2b2a152f34e24366f5f0afbc071ff40833f,1342467225,NaN,NaN,2,0,1,1,1,0.000000,...,1023.0,382.0,781.0,1023.0,14.0,17.0,21.0,0.517241,0.620690,0.758621
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9443,1a40831f1711bf46c878dd247679bb05d19ffb5a,1393238871,2.0,NaN,99,17,2,2,1,0.861487,...,939.0,218.0,562.0,671.0,193.0,598.0,682.0,0.166096,0.512842,0.584760
9450,aafc2b0e070967ad443c50ead911d21727a57844,1380696690,0.0,NaN,327,13,2,2,1,0.996403,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9452,0d95e5316a99b78b4f629a29d862548f87671b43,1387778981,NaN,1.0,161,9,2,3,1,0.899729,...,220.0,5.0,220.0,220.0,5.0,187.0,187.0,0.005561,0.174235,0.174235
9453,70e0a246f9b3d2920dd80766240e8c23f245fe95,1389872032,NaN,NaN,119,57,5,4,1,0.351312,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9454,0c151d7d7ea00627fad182898958db55b1fef3fd,1390916987,NaN,NaN,4,10,3,4,1,0.741916,...,291.0,10.0,285.0,290.0,6.0,172.0,173.0,0.006189,0.152962,0.153846

In [68]:
lowfile = lowfile.sample(frac=1)

In [69]:
testdf = lowfile.iloc[:500, :]
valdf = lowfile.iloc[500:1000, :]
traindf = lowfile.iloc[1000:, :]

In [72]:
traindf[traindf['commit_id'].isin(buggy)]

,commit_id,author_date,bugcount,fixcount,la,ld,nf,nd,ns,ent,...,oexp,arexp,rrexp,orexp,asexp,rsexp,osexp,asawr,rsawr,osawr
8152,92b4c34e05770e8b3c31459158a018bdd5449c3e,1380083193,3.0,1.0,27,3,1,2,1,0.836641,...,1173.0,315.0,915.0,1060.0,81.0,322.0,339.0,0.215789,0.850000,0.894737
7815,a9098d218836aa82dc07ba94156f0d553f2f87a7,1370014115,1.0,NaN,4,2,3,2,1,0.920620,...,1061.0,317.0,953.0,1034.0,312.0,797.0,878.0,0.308679,0.786982,0.866864
5849,f129bb85c6a9e4ffaf6f97bee29d32c944575e08,1377765003,NaN,NaN,60,60,2,1,1,0.468996,...,2829.0,1030.0,1591.0,2404.0,324.0,1527.0,1747.0,0.055376,0.260351,0.297836
4789,2ee5ac3b56cb88a0f3a3d9598e1aca4dbb539e2a,1371662632,NaN,NaN,50,49,1,1,1,0.000000,...,769.0,86.0,645.0,716.0,82.0,636.0,703.0,0.016802,0.128947,0.142510
7728,a397df38c748d482ece18e164084a589d7f2d362,1365469892,1.0,NaN,37,8,1,2,1,0.764205,...,794.0,701.0,773.0,773.0,632.0,680.0,680.0,0.710438,0.764310,0.764310
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4762,c1211f24aa9895e5bbc9f503e0f13d2d7a65504b,1370568102,1.0,NaN,15,5,2,2,1,1.000000,...,2586.0,33.0,2207.0,2217.0,33.0,2299.0,2309.0,0.007126,0.482079,0.484175
7152,044ece27b79c810e6c15131b6a553b649e666678,1345111615,1.0,NaN,50,12,1,3,1,0.923893,...,250.0,122.0,207.0,249.0,116.0,169.0,207.0,0.515419,0.748899,0.916300
568,945a48e3b62192ce72440f0bb382c5dccab954a5,1375792311,1.0,NaN,8,0,1,1,1,0.000000,...,309.0,7.0,304.0,307.0,1.0,275.0,275.0,0.002506,0.345865,0.345865
6421,332a5969da2c43ee0bbe3af9a983b68bd91b1e6f,1381749215,1.0,NaN,68,58,5,2,1,0.907992,...,314.0,290.0,305.0,305.0,292.0,307.0,307.0,0.046478,0.048858,0.048858
7379,bdcf00cfb1bc89c8475c0dc1f1c981d9ee78bcd1,1355210546,1.0,NaN,78,32,1,1,1,0.869893,...,492.0,121.0,421.0,491.0,53.0,386.0,390.0,0.104449,0.748549,0.756286

In [73]:
len(testdf)

500

In [76]:
traindf['nf'].unique()

array([1, 3, 2, 4, 5])

In [77]:
lowfile_train = {k: v for k, v in subtrees.items() if k in traindf['commit_id'].tolist()}
lowfile_test = {k: v for k, v in subtrees.items() if k in testdf['commit_id'].tolist()}
lowfile_val = {k: v for k, v in subtrees.items() if k in valdf['commit_id'].tolist()}
len(lowfile_train)

4000

In [78]:
with open('../data/subtrees_lowfile_train.json', 'w') as file:
    json.dump(lowfile_train, file)
with open('../data/subtrees_lowfile_test.json', 'w') as file:
    json.dump(lowfile_test, file)
with open('../data/subtrees_lowfile_val.json', 'w') as file:
    json.dump(lowfile_val, file)

In [79]:
traindf.to_csv('../../ruok/data/lowfile_train.csv', index=False)
valdf.to_csv('../../ruok/data/lowfile_val.csv', index=False)
testdf.to_csv('../../ruok/data/lowfile_test.csv', index=False)

In [220]:
merged

,commit_id,author_date,bugcount,fixcount,la,ld,nf,nd,ns,ent,...,oexp,arexp,rrexp,orexp,asexp,rsexp,osexp,asawr,rsawr,osawr
0,4c202523890d805c8e42802117d85d6f6e2cddae,1336074867,1.0,NaN,173,252,3,6,1,0.664576,...,13.0,4.0,10.0,13.0,0.0,1.0,1.0,0.333333,0.666667,0.666667
1,fe23db33801fa72665e480534d070ddae4a9c451,1336582954,NaN,NaN,124,68,5,9,1,0.836364,...,17.0,14.0,6.0,17.0,2.0,1.0,2.0,0.600000,0.400000,0.600000
2,2263cf7db7672699e29a76d68dbe91cad2071b86,1338416681,NaN,NaN,15,11,4,5,1,0.923573,...,57.0,26.0,31.0,57.0,0.0,7.0,7.0,0.083333,0.666667,0.666667
3,0cd8f34eed28a2c1a77d56fe4b0e00816ef48780,1338569174,NaN,NaN,30,30,3,2,2,0.885241,...,660.0,30.0,660.0,660.0,9.0,23.0,23.0,0.108696,0.260870,0.260870
4,8d8903f466cd7d4270e46ad896817fe94c99b575,1338490982,NaN,NaN,166,15,2,5,1,0.713529,...,55.0,27.0,29.0,55.0,1.0,8.0,8.0,0.153846,0.692308,0.692308
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9453,70e0a246f9b3d2920dd80766240e8c23f245fe95,1389872032,NaN,NaN,119,57,5,4,1,0.351312,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9454,0c151d7d7ea00627fad182898958db55b1fef3fd,1390916987,NaN,NaN,4,10,3,4,1,0.741916,...,291.0,10.0,285.0,290.0,6.0,172.0,173.0,0.006189,0.152962,0.153846
9455,345d8f7766aa06fa6654382efc480da493a3f2c8,1381261286,NaN,NaN,157,49,4,2,1,0.699994,...,608.0,29.0,451.0,476.0,3.0,430.0,430.0,0.004073,0.438900,0.438900
9456,f338a5c870a36e493f8c818fa783942d1e0565a4,1389258796,NaN,NaN,2,2,1,1,1,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9457,2365a3fb5fa1b7e453ea6f275e95cc9255cb0581,1393283348,NaN,NaN,1837,1839,48,11,1,0.780573,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [221]:
rawdata = pd.read_csv('../data/rawdata.csv')
rawdata

,Unnamed: 0,X,commit_id,author_date,bugcount,fixcount,la,ld,nf,nd,...,rsexp,osexp,asawr,rsawr,osawr,churn,buggy,fix,bugdens,strata
0,6,6,00057454f6609871c2cabf874876d26a6d0d0641,1358516662,0,0,2,2,2,2,...,259.0,259.0,0.003472,0.902778,0.902778,4,False,False,0.000000,4
1,9,9,0007d255d9b20da4e5bbcdbaf5813104fbc092da,1358353428,0,0,9,6,1,1,...,276.0,277.0,0.024735,0.978799,0.982332,15,False,False,0.000000,4
2,11,11,0014f2c828dae5f9481a2bac68fe90a7857b2f59,1377995125,0,0,7,8,2,1,...,257.0,275.0,0.200000,0.573333,0.613333,15,False,False,0.000000,7
3,14,14,001961ed495a33cc944407888a2797f8a600e091,1367268702,0,0,6,0,1,1,...,1922.0,2506.0,0.217116,0.435363,0.567580,6,False,False,0.000000,5
4,15,15,001d36c97eac77410f7dd32290d2142abfb19fa0,1392721937,1,0,12,6,2,2,...,1361.0,2241.0,0.147545,0.184703,0.304041,18,True,False,0.055556,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12369,26847,26847,ffead4c28c4a44d82c730e1a1dcfbedd976b4f0b,1373353424,0,0,49,3,1,1,...,1375.0,1979.0,0.156821,0.264768,0.380989,52,False,False,0.000000,6
12370,26849,26849,fff0f422f647b689bb9a62b1eff2203354a9f885,1362768459,0,0,42,1,3,2,...,1191.0,1719.0,0.151810,0.289531,0.417780,43,False,False,0.000000,5
12371,26850,26850,fff46247c058e69fcdf25e6845c34509f4688c30,1357859567,0,0,73,14,5,2,...,834.0,834.0,0.000857,0.238640,0.238640,87,False,False,0.000000,4
12372,26854,26854,fffc95c3ccb01333becc86e0cb4c67cf5edf9725,1373985563,0,0,235,12,4,4,...,352.0,352.0,0.003656,0.645338,0.645338,247,False,False,0.000000,6
12373,26855,26855,fffcaea176b785c9715a180f6a629708db16536c,1360536307,0,0,1,1,1,1,...,1053.0,1199.0,0.060797,0.276205,0.314465,2,False,False,0.000000,4

In [222]:
rawdata = rawdata[rawdata['commit_id'].isin(merged['commit_id'])]
rawdata

,Unnamed: 0,X,commit_id,author_date,bugcount,fixcount,la,ld,nf,nd,...,rsexp,osexp,asawr,rsawr,osawr,churn,buggy,fix,bugdens,strata
0,6,6,00057454f6609871c2cabf874876d26a6d0d0641,1358516662,0,0,2,2,2,2,...,259.0,259.0,0.003472,0.902778,0.902778,4,False,False,0.000000,4
1,9,9,0007d255d9b20da4e5bbcdbaf5813104fbc092da,1358353428,0,0,9,6,1,1,...,276.0,277.0,0.024735,0.978799,0.982332,15,False,False,0.000000,4
3,14,14,001961ed495a33cc944407888a2797f8a600e091,1367268702,0,0,6,0,1,1,...,1922.0,2506.0,0.217116,0.435363,0.567580,6,False,False,0.000000,5
4,15,15,001d36c97eac77410f7dd32290d2142abfb19fa0,1392721937,1,0,12,6,2,2,...,1361.0,2241.0,0.147545,0.184703,0.304041,18,True,False,0.055556,8
5,23,23,0038e3818393415fc9628aef2747136a626682ee,1341252518,0,0,23,17,3,3,...,536.0,536.0,0.015677,0.300672,0.300672,40,False,False,0.000000,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12368,26843,26843,ffe5036fa0e63ccde2d19aa0f425ec43de338dd7,1346348302,0,0,33,1,2,2,...,55.0,55.0,0.009434,0.528302,0.528302,34,False,False,0.000000,3
12369,26847,26847,ffead4c28c4a44d82c730e1a1dcfbedd976b4f0b,1373353424,0,0,49,3,1,1,...,1375.0,1979.0,0.156821,0.264768,0.380989,52,False,False,0.000000,6
12370,26849,26849,fff0f422f647b689bb9a62b1eff2203354a9f885,1362768459,0,0,42,1,3,2,...,1191.0,1719.0,0.151810,0.289531,0.417780,43,False,False,0.000000,5
12371,26850,26850,fff46247c058e69fcdf25e6845c34509f4688c30,1357859567,0,0,73,14,5,2,...,834.0,834.0,0.000857,0.238640,0.238640,87,False,False,0.000000,4
12372,26854,26854,fffc95c3ccb01333becc86e0cb4c67cf5edf9725,1373985563,0,0,235,12,4,4,...,352.0,352.0,0.003656,0.645338,0.645338,247,False,False,0.000000,6

In [223]:
buggy = rawdata[rawdata['buggy'] == True]['commit_id'].tolist()
len(buggy)

2162

In [224]:
nonbuggy = rawdata[rawdata['buggy'] == False]['commit_id'].tolist()
len(nonbuggy)

7296

In [227]:
merged = merged.sample(frac=1)

In [228]:
testdf = merged.iloc[:950, :]
valdf = merged.iloc[950:1900, :]
traindf = merged.iloc[1900:, :]

In [231]:
valdf[valdf['commit_id'].isin(buggy)]

,commit_id,author_date,bugcount,fixcount,la,ld,nf,nd,ns,ent,...,oexp,arexp,rrexp,orexp,asexp,rsexp,osexp,asawr,rsawr,osawr
5139,4bf1d5b3829ef45cddcaedba912bd816981b0c49,1373993978,1.0,NaN,23,2,2,2,1,0.855451,...,1644.0,79.0,1306.0,1358.0,77.0,1349.0,1400.0,0.014731,0.254958,0.264589
7800,881b629f656961692103c49b6b8601373910d58e,1370563206,1.0,NaN,13,14,6,6,1,0.916747,...,1098.0,416.0,976.0,1081.0,379.0,809.0,890.0,0.369650,0.787938,0.866732
7709,daaf2b6d6502da4f185ed65a21a75ab2aab2d1b7,1366990059,NaN,NaN,20,89,6,3,1,0.819304,...,474.0,9.0,457.0,461.0,9.0,427.0,431.0,0.010941,0.468271,0.472648
2930,99fb9d2a99b123983426282448816413036f8cab,1344744941,0.0,NaN,68,57,5,8,1,0.905307,...,1208.0,704.0,602.0,1206.0,669.0,495.0,1068.0,0.301395,0.223122,0.480882
2095,3e1cff368a6445ea3ae176dcab6fd485c9280ad0,1329179598,0.0,NaN,114,93,7,5,1,0.729341,...,411.0,54.0,374.0,411.0,50.0,298.0,331.0,0.061005,0.357656,0.397129
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8190,39b4c89353a0f7b942a2b3c849c43410a5d203ec,1381260261,1.0,NaN,17,15,2,2,1,0.974489,...,1348.0,465.0,953.0,1217.0,88.0,352.0,366.0,0.206019,0.817130,0.849537
4236,4ed4c848b66bc5fdd42e05c8b8c726ace2c25704,1362705420,1.0,NaN,49,3,2,3,1,0.789211,...,1170.0,0.0,1135.0,1135.0,0.0,1100.0,1100.0,0.000244,0.268406,0.268406
7508,23b47c832a9ae0c1890ad0d467c28f81914d4b57,1360601219,2.0,NaN,27,6,2,2,1,0.967295,...,712.0,12.0,679.0,690.0,0.0,608.0,608.0,0.001410,0.858956,0.858956
4485,cf3cc74fcb65de3c59f98db001267e05ae405186,1367293277,0.0,NaN,59,9,2,2,1,0.977418,...,1139.0,1.0,1105.0,1105.0,1.0,1098.0,1098.0,0.000452,0.248530,0.248530
667,c1afe8001c90a17463a62f0c5c454767a7d88d86,1377261036,NaN,NaN,285,0,1,1,1,0.000000,...,988.0,2.0,921.0,921.0,2.0,846.0,846.0,0.003348,0.945312,0.945312

In [233]:
all_train = {k: v for k, v in subtrees.items() if k in traindf['commit_id'].tolist()}
all_test = {k: v for k, v in subtrees.items() if k in testdf['commit_id'].tolist()}
all_val = {k: v for k, v in subtrees.items() if k in valdf['commit_id'].tolist()}
len(all_train)

7558

In [234]:
with open('../data/subtrees_all_train.json', 'w') as file:
    json.dump(all_train, file)
with open('../data/subtrees_all_test.json', 'w') as file:
    json.dump(all_test, file)
with open('../data/subtrees_all_val.json', 'w') as file:
    json.dump(all_val, file)

In [235]:
traindf.to_csv('../../ruok/data/all_train.csv', index=False)
valdf.to_csv('../../ruok/data/all_val.csv', index=False)
testdf.to_csv('../../ruok/data/all_test.csv', index=False)

In [9]:
set(df1['commit_id']) & set(df2['commit_id']) == set(df1['commit_id'])

True

In [57]:
import json

with open('../data/subtrees_0.25_train.json') as file:
    subtrees = json.load(file)

In [95]:
set(subtrees.keys()) - set(df1[df1['nf'] <= 3]['commit_id'])

set()

In [59]:
df2[df2['commit_id'].isin(subtrees.keys())].to_csv('../data/gnn_train.csv', index=False)

In [35]:
df3 = pd.read_csv('../data/gnn_val.csv')
df3

,commit_id,author_date,bugcount,fixcount,la,ld,nf,nd,ns,ent,...,oexp,arexp,rrexp,orexp,asexp,rsexp,osexp,asawr,rsawr,osawr
0,005ff1100a11c83808471ece313d0f9001f4653c,1374603627,NaN,NaN,132,201,2,1,1,0.909022,...,815.0,3.0,778.0,781.0,0.0,673.0,673.0,0.001330,0.896277,0.896277
1,00aced0ec5ad9520614ba1846d061f9605ace758,1360611514,NaN,NaN,38,3,3,3,1,0.871599,...,1056.0,136.0,965.0,1037.0,134.0,904.0,975.0,0.035294,0.236601,0.255163
2,01e45596fae2818b41c76b41bef46e86c5d33231,1382184363,NaN,1.0,45,1,2,2,1,0.258019,...,1199.0,148.0,1031.0,1097.0,89.0,312.0,346.0,0.191898,0.667377,0.739872
3,02797aab3c78961c0cf100df4367df61654bedc1,1355068625,2.0,NaN,21,3,3,2,1,0.886860,...,1854.0,379.0,1393.0,1764.0,14.0,1231.0,1241.0,0.004733,0.388766,0.391922
4,0438cade12bc26e93832d186f010dd77b20ad4c9,1383287173,0.0,NaN,36,0,1,1,1,0.000000,...,2367.0,61.0,2039.0,2080.0,48.0,2188.0,2216.0,0.007540,0.336821,0.341129
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
345,fe9eb0f03ca7bca8b742a19b4a775640ad06b5f2,1370288171,NaN,NaN,76,3,3,3,1,0.683817,...,2051.0,40.0,1723.0,1746.0,40.0,1782.0,1805.0,0.008679,0.377434,0.382303
346,fee9b2ad61bb69d356e1280f0556afd808c5f128,1358756342,NaN,NaN,11,10,2,2,1,0.591673,...,403.0,357.0,403.0,403.0,262.0,281.0,281.0,0.903780,0.969072,0.969072
347,ff3b90522b0c6f02d71dc5fdea7092fcf498cd3a,1359387897,NaN,NaN,1,5,2,2,1,0.000000,...,611.0,419.0,151.0,566.0,19.0,131.0,146.0,0.066007,0.435644,0.485149
348,ffa11a64706e898ba3ae45f84920d632b5947add,1380332296,1.0,NaN,11,6,3,2,1,0.977036,...,1631.0,148.0,1407.0,1489.0,99.0,135.0,194.0,0.250627,0.340852,0.488722
349,ffead4c28c4a44d82c730e1a1dcfbedd976b4f0b,1373353424,NaN,NaN,49,3,1,1,1,0.000000,...,2953.0,829.0,2072.0,2670.0,814.0,1375.0,1979.0,0.156821,0.264768,0.380989

In [13]:
df2['hcmt'].head()

0    NaN
1    3.0
2    NaN
3    NaN
4    NaN
Name: hcmt, dtype: float64

In [11]:
df2.columns.tolist()

['commit_id',
 'author_date',
 'bugcount',
 'fixcount',
 'la',
 'ld',
 'nf',
 'nd',
 'ns',
 'ent',
 'revd',
 'nrev',
 'rtime',
 'tcmt',
 'hcmt',
 'self',
 'ndev',
 'age',
 'nuc',
 'app',
 'aexp',
 'rexp',
 'oexp',
 'arexp',
 'rrexp',
 'orexp',
 'asexp',
 'rsexp',
 'osexp',
 'asawr',
 'rsawr',
 'osawr']

In [19]:
original = ['ns', 'nd', 'nf', 'ent', 'la', 'ld', 'lt', 'fix', 'ndev', 'age', 'nuc', 'exp', 'rexp', 'sexp']
understood = ['aexp', 'arexp', 'asexp', 'asawr', 'rexp', 'rrexp', 'rsexp', 'rsawr', 'hcmt', 'nrev', 'app', 'rtime']
set(df2.columns.tolist()) - set(original) - set(understood)

{'author_date',
 'bugcount',
 'commit_id',
 'fixcount',
 'oexp',
 'orexp',
 'osawr',
 'osexp',
 'revd',
 'self',
 'tcmt'}

In [7]:
df3 = pd.read_csv('../data/qt.csv')
df3.shape

(32155, 32)

In [11]:
df3.columns.tolist()

['commit_id',
 'author_date',
 'bugcount',
 'fixcount',
 'la',
 'ld',
 'nf',
 'nd',
 'ns',
 'ent',
 'revd',
 'nrev',
 'rtime',
 'tcmt',
 'hcmt',
 'self',
 'ndev',
 'age',
 'nuc',
 'app',
 'aexp',
 'rexp',
 'oexp',
 'arexp',
 'rrexp',
 'orexp',
 'asexp',
 'rsexp',
 'osexp',
 'asawr',
 'rsawr',
 'osawr']

In [12]:
len(set(df2.columns.tolist()) & set(df3.columns.tolist()))

32

In [13]:
set(df1.columns.tolist()) - set(df2.columns.tolist())

{'Unnamed: 0', 'X', 'bugdens', 'buggy', 'churn', 'fix', 'strata'}

In [ ]:
y = df['buggy'].tolist()
y = [int(label) for label in y]
y[:10]

[0, 0, 0, 0, 1, 0, 1, 1, 0, 0]

In [ ]:
feature_columns = df.columns.tolist()[6:34] + df.columns.tolist()[35:]
X = df[feature_columns].to_numpy()
X = X.astype(float)
X[0]

array([2.00000000e+00, 2.00000000e+00, 2.00000000e+00, 2.00000000e+00,
       1.00000000e+00, 1.00000000e+00, 1.00000000e+00, 1.00000000e+00,
       6.49522700e+06, 4.00000000e+00, 0.00000000e+00, 6.00000000e+00,
       1.70682000e+05, 7.00000000e+00, 2.00000000e+00, 1.20000000e+01,
       3.54000000e+02, 3.66000000e+02, 1.00000000e+01, 3.54000000e+02,
       3.64000000e+02, 0.00000000e+00, 2.59000000e+02, 2.59000000e+02,
       3.47222222e-03, 9.02777778e-01, 9.02777778e-01, 4.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 4.00000000e+00])

In [ ]:
X[56]

array([62.,  0.,  1.,  1.,  1.,  0.,  0., nan, nan, nan, nan,  0.,  0.,
        0., nan,  0., nan, nan,  0., nan, nan,  0., nan, nan,  0.,  0.,
        0., 62.,  0.,  0.,  5.])

In [ ]:
import numpy as np

nans = list(set(np.argwhere(np.isnan(X))[:, 0]))

In [ ]:
X = np.delete(X, nans, axis=0)
y = np.delete(y, nans, axis=0)

In [ ]:
print(X.shape)
print(len(y))

(12041, 31)
12041

In [ ]:
from sklearn.linear_model import LogisticRegression

clf = LogisticRegression(random_state=0).fit(X[:11000], y[:11000])

In [ ]:
clf.predict(X[11001:11020,:])

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0])

In [ ]:
y[11001:11020]

array([0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1])

In [ ]:
clf.score(X[11001:], y[11001:])

0.8096153846153846